
body {
    text-align: center;
    -webkit-print-color-adjust:exact;
}

h1,h2,h3 {
    text-align: center;
}

div {
    margin: 0 auto;
}

div.chartAliasHeading {
    font-size: 18px;
    font-weight: bold;
    text-decoration: bold;
    margin-top: 3em;
    padding-top: 2em;
    border-top: 1px dashed;
    page-break-before: always;
}


div .jqplot-target, div.dashTabularWrap {
    page-break-inside: avoid; 
}

.dbTab div.dashTabularWrap {
    height: 90%;
    overflow: auto;
}

table.dashTabular {
    width: 100%;
    text-align: left;
}

.dbCharts table.dashTabular {
    margin-top: 2em;
}

table.dashTabular th:nth-last-child(-n+2), td:nth-last-child(-n+2) {
    text-align: right;
}


table.dashTabular tr:nth-child(2n) {
    background-color: rgba(220,220,220,1);
}

.chartGroupHeader{
    background-color: rgba(220,220,220,1);
    color: white;
    font-size: 2em;
}

@media print {
    .dbNoPrint {
        display:none;
        height: 0;
    }  
    div.chartAliasHeading {
        margin-top: 1em;
        padding-top: 1em;
        border-top: none;
    }

    @page {
        margin: .5in;
    }
    div.jqplot-highlighter-tooltip {
        display: none;
        visibility: hidden;
    }
}

