body, html {
	margin: 0;
	padding: 0;
	width:100%;
	height:100%;
	font-family: arial;
	overflow-y: hidden;
}
::-webkit-scrollbar{
	width:12px;
	height:12px;
}
::-webkit-scrollbar-track{
	box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
	border-radius:8px;
}
::-webkit-scrollbar-thumb{
	box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
	border-radius:8px;
	background:rgba(159, 159, 159, 0.8);
}
/* ::-webkit-scrollbar-button{
	box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
	border-radius:8px;
	background:rgba(159, 159, 159, 0.8);
} */
form {
	margin: 0;
}
input[type="checkbox"] {
    /* display:none; */
}
/* input[type="checkbox"] + label span {
    display:inline-block;
    width:15px;
    height:15px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(../images/unchecked.jpg) left top no-repeat;
    cursor:pointer;
	display:none;
}
input[type="checkbox"]:checked + label span {
    background:url(../images/checked.jpg) left top no-repeat;
} */
input[type="radio"],input[type="checkbox"] {
	height: 14px;
	width: 14px;

}
input[type="radio"] {

}
input[type="checkbox"] {
	-webkit-appearance: none;
	/* background-color: white;
	border: 1px solid grey;
	border-radius: 8px;
	box-shadow: inset 0 0 5px black; */
	background-image:	url('../images/checkbox_2.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
input[type="checkbox"]:checked {
	/* background-color: blue; */
	background-image:	url('../images/checkbox_checked_2.png');
}
select:disabled, input:disabled {
	background-color: rgb(222, 222, 222)!important;
}
.ul{
	text-decoration: underline;
}
.em{
	font-style: italic;
}
.bold{
	font-weight:900;
}
.checkboxLabel {
	cursor: default;
	padding-top: 2px;
	padding-left: 5px;
	float: none;
	margin-left: 16px;
}
.checkboxWrap {
	display: inline-block;
}
.checkbox.checkboxEle,.radio.checkboxEle {
	margin: 2px;
	margin-right: 0;
	float: left;
	margin-top: 3px;
}
.none{
	display:none!important;
}
.small{
	font-size: 11px;
}
.cf:after {
	visibility:hidden;
	display:block;
	font-size:0;
    content: " ";
	clear:both;
	height:0;	
}
* html .cf {
	height:1%;
}
.cf{
	display:block;
}
.noPointerEvents{
	pointer-events: none;
}
.noSelect{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.pointerCursor{
	cursor: pointer!important;
}
.defaultCursor{
	cursor: default!important;
}
.grabbing{
	cursor: -webkit-grabbing!important;
}
.postScript{
	font-size: 11px;
}
.someMoreInfo{
	margin-top: 5px;
}
.postScript{
	font-size: 11px;
}
.discreteLink{
	display:inherit;
	text-decoration:none;
	color:inherit;
}
/*time input*/
.timeInputItem {
    width: 42px!important;
    background: transparent!important;
    background-color: white!important;
}
.timeAMPMSelect.timeInputItem {
    width: 46px!important;
}
.timeNumItem.timeInputItem{
	width: 32px!important;
	padding: 0;
}
.timeInputEle {
    float: left;
}
.timeInputWrap {
    background-color: #EEEEEE;
    display: inline-block;
    padding: 5px;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 5px;
}
.timeInterval {
    margin: 0 2px;
}
#refreshInstruction{
font-size: 12px;
}
#timestamp{
font-size: 10px;
float:right;
}
.discreteLink:visited,.discreteLink:active{
	color:inherit;
}
.block{
	display:block!important;
}
.inlineBlock{
	display:inline-block!important;
}
.inline{
	display:inline!important;
}
.right {
	text-align: right!important;
}
.center {
	text-align: center!important;
}
.hauto {
	height:auto!important;
}
.marginAuto{
	margin:0 auto!important;
}
.cursorDefault{
	cursor:default!important;
}
.centerMargin {
	margin:0 auto;
}
.bold {
	font-weight:900!important;
}
.pointer {
	cursor:pointer!important;
}
.stdMrgTop {
	margin-top:	4px;
}
.fullHeight {
	height:100%;
}
.fullWidth {
	width:100%;
	box-sizing: border-box;
}
.subDetails {
	font-size: 12px;
	margin: 10px 0;
}
.subHeader {
	font-size: 28px;
	margin: 0 0 7px 0;
}
.subSubHeader {
	font-size: 17px;
	margin: 0 0 7px 0;
}
.subSubSubHeader {
	font-size: 16px;
	margin: 0 0 7px 0;
}
.fLeft{
	float:left
}
.checkLabel{
	cursor:pointer;
}
.checkboxesWrap,.radiosWrap {
	display: inline-block;
}
.shelfForm{
	width:100%;
}
.toolBoxDesc {
	font-size: 14px;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.uiInput {
	/* width: 140px; */
}
.textareaInput{
	min-height:64px;
}
.innerWrap{
	overflow-y:auto;
	height: 100%;
}
.formTable {
	width:100%;
}
.formTopButtons {
	text-align: left;
}
.inputErrorContainer {
	background-color: rgb(255, 188, 188);
	padding: 2px;
	display: none;
	margin-top: 2px;
	font-size: 12px;
}
.formTitle {
	font-size: 20px;
	margin-bottom: 6px;
}
.formDesc {
	border-bottom: 1px solid black;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-top: 1px solid black;
	padding-top: 5px;
}
.formDesc p:first-of-type {
	margin-top: 0;
}
.formDesc p:last-of-type {
	margin-bottom: 0;
}
.formDetailsLabel {
    font-weight: 900;
}
.reqSpan {
	cursor:default;
}
.formFieldDesc {
	font-size: 12px;
	font-style: italic;
}
.fieldTitle{
	font-size: 18px;
	font-weight: 900;
	margin: 5px 0;
}
.fieldPreField {
    font-style: italic;
    font-weight: 700;
}
.fieldDesc{
	margin-left: 20px;
}
.map{
	height:100%;
	width:100%;
}
.mapWrap{
	height:100%;
	width:100%;
}
#mapContainerWrap{
	position: absolute;
	top:0;
	left:0;
	right:0;
	width:auto;
	overflow: hidden;
}
#gmapContainerWrap,#mainMapContainerWrap{
	height:100%;
	width:100%;
}
#gmap{
	/* display:none; */
}
.adding{
	/* cursor:crosshair!important; */
	  cursor: url("../images/crosshair.png")14 14,auto;
}
.gmapHidden{
	position:fixed;
	left:99999999;
	top:99999999;
}
.gmapHidden2{
	position:fixed;
}
.googAttAdjust{
	bottom:20px!important;
}
.static {
	position:static!important;
}
.popup {
    max-width: 300px;
	background: white;
	padding: 5px;
	position: relative;
	box-shadow: 0 0 5px black;
	cursor: default;
	z-index:999;
}
.popupButton {
    background: #005970;
    float: right;
    width: 18px;
    height: 18px;
    text-align: center;
    color: white;
    cursor: pointer;
}
.popupLabel {
	font-weight: 900;
	border-bottom: 1px solid black;
}
.popupContent {
    max-height: 300px;
    overflow-y: auto;
	position: relative;
	z-index: 9999;
	border-bottom: 1px solid black;
	padding: 5px;
}
.popup.inventoryPopUp {
	min-height: 128px;
}
.puBotButtons {
	z-index: 9999;
	position: relative;
}
.puBotButtons>* {
    margin-right: 5px;
    margin-top: 5px;
	float: left;
}
.puBotButtons>*:last-child {
    margin-right: 0;
}
.otherFeaturesDesc {
	margin-right: 5px;
}
.otherFeaturesWrapEle {
	float: left;
}
.otherFeatsTogWrap {
	float:left;
	cursor:pointer;
	height:16px;
	width:9px;
}
.otherFeatsTog {
	height:100%;
	width:100%;
}
.otherFeatsTogWrap.togLeft {
	margin-right: 4px;
}
.otherFeatsTog.togLeft {
	background:url("../images/arrow_left_small.png") no-repeat;
}
.otherFeatsTog.togRight {
	background:url("../images/arrow_right_small.png") no-repeat;
}
.popupTable,.advFTable {
	border-collapse: collapse;
	background: #DFEEBF;
	box-shadow: 0 0 5px black;
}
.popupTable td, .popupTable th {
    border: 1px solid black;
    /* border-top: 0; */
}
.popupTable tr:last-child td {
   /*  border-bottom: 0; */
}
/* .popupInnerContent {
	max-height: 276px;
	overflow-y: auto;
	box-shadow: inset 0 0 5px black;
	padding: 3px;
} */
.popupTopLabel {
    float: left;
    width: calc(100% - 23px);
}
.otherFeaturesWrap {
    width: 100%;
    float: left;
    margin-top: 5px;
    border-top: 1px solid black;
    padding-top: 5px;
}
.popupButtons {
	position: relative;
	z-index: 9999;
	float: right;
}
.popupTop {
	padding: 2px 0;
	border-bottom: 1px solid black;
	position: relative;
	z-index: 9999;
}
.popUpRow .tdLiner {
	min-width: 64px;
	padding: 2px;
}
.ttListUL {
	margin: 0;
	padding-left: 20px;
	min-width: 252px;
}
.pointerWrap{
	position:relative;
	width:0;
	height:0;
	overflow:visible;
	background: inherit;
}
.popup.geocoded .arrowLeft {
	top: 0;
}
.pointerLeft{
	left:0;
	top:0;
}
.arrowLeft {
	position: absolute;
	top: 100px;
	left: 0;
	background: inherit;
}
.layerPopup .arrowLeft {
	top: 0;
}
.arrowP{
	position: absolute;
	top: 10px;
	left: -13px;
	background: inherit;
	width: 15px;
	height: 15px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 999;
	box-shadow: 0 0 5px black;
}
.arrowCov {
	position: absolute;
	top: 4px;
	left: -5px;
	width: 15px;
	height: 25px;
	background: inherit;
	z-index: 9999;
}
.containerImg {
	max-height: 100%;
	max-width: 100%;
}
.stdButton.showButton{
	display:none;
}
.iconButton,.mobileMenuButton {
    width: 46px;
    height: 44px;
	background-color: #80bd01!important;
	color: white;
	box-shadow: 0 0 5px black;
}
.iconButton:active {
	box-shadow: none;
}
.onlyIconButton {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    padding: 2px!important;
}
.symButton .iconButtonIcon {
	width: 60%;
	max-height: 60%;
	position: absolute;
	top: 20%;
	left: 20%;
	margin: 0 auto;
}
.mobileMenuButton .iconButtonIcon {
    margin-top: 3px;
}
.symButton .buttonContent {
	width: 100%;
}
.symButton .iconButtonContent {
	margin-top: 2px; 
	font-size: 12px;
	text-align: center;
}
.symButton .iconButtonIconWrap {
    width: 30px;
	height: 30px;
	border-radius: 50%;
	background: inherit;
	box-shadow: inset 0 0 8px rgb(106, 106, 106);
	position: relative;
	margin: 0 auto;
}
.symButton:active .iconButtonIconWrap {
	box-shadow: inset 0 0 16px rgb(106, 106, 106);
}
.iconButtonIconWrap {
	display: table;
	width: 100%;
	height: 100%;
}
.iconButtonIconInner {
	display: table-cell;
	width: 10px;
	padding: 0;
	height: 10px;
	vertical-align: middle;
}
.iconButtonIcon {
    max-width: 100%;
    max-height: 100%;
}
.containImg{
    max-width: 100%;
    max-height: 100%;
}
.toolBoxButton {
	background-color: #005970!important;
	color: white;
	border-radius: 3px;
}
.shelfContentWrap .shelfButtonWrap>.button.toolBoxButton {
   /*  background: #008CB2!important; */
}
.stdButton {
	display: inline-block;
	min-width: 47px;
	margin-right:5px;
}
.stdButton:last-child {
	margin-right:0;
}
.button {
    background: #005970;
	color: white;
	font-size: inherit;
	cursor:pointer;
    padding: 5px;
	overflow: hidden;
	font-weight: 500;
	box-shadow: 0 0 3px black;
	border-radius: 3px;
	text-align: center;
	border: 1px solid white;
}
.deleteNurseryItemButton {
    display: inline-block;
    padding: 3px;
}
.closeImg {
    max-width: 12px;
}
.button:active {
    box-shadow: inset 0 0 8px rgb(106, 106, 106);
}
.uploaderTable{
	margin: 0 auto;
}
.formConcButtons {
	margin-top: 10px;
	border-top: 1px solid black;
	padding-top: 10px;
}
.formConcWrap .formConcButtons {
	margin-top: 0;
	border-top: 0;
	padding-top: 0;
}
.formConcWrap {
	margin-top: 10px;
	border-top: 1px solid black;
	padding-top: 10px;
}
.formConcWrap>* {
	margin-bottom:5px;
}
.formConcWrap>*:last-child {
	margin-bottom:5px;
}
.loginTable .button {
    width: 66px;
}
.formConcButton {
    vertical-align: top;
    margin-right: 5px;
}
.formConcButton:last-child {
    margin-right: 0;
}
.buttonExtras {
    float: right;
	margin-right: 2px;
}
.buttonExtras:last-of-type {
	margin-left: 0;
}
.toolBoxButton .buttonContent {
	width: auto;
}
.buttonContent {
    float: left;
	width: 100%;
}
.buttonExtra {
	border: 1px solid white;
	padding: 0 2px;
	border-radius: 3px;
}
.submitButton {
	border: none;
}
.submitInputWrap {
	float: left;
}
.formConcExtras>*:first-child {
	padding-top: 5px;
	border-top: 1px solid black;
}
.submitRowSwitchWrap {
	margin-left: 58px;
}
.prompt {
    display:none;
}
.promptButton {
    float: left;
    background: rgb(119, 253, 162);
    width: 92px;
    font-size: 14px;
    text-align: center;
}
.promptContent {
    margin-top: 5px;
}
.promptButtons {
    margin-top: 5px;
}
.shelf {
	margin: 4px 0;
}
.preShelfContent {
	font-size: 12px;
	padding: 5px;
	border: 1px solid black;
	border-bottom: 0;
	background-color:#DFEEBF;
	box-shadow: 0 0 5px black;
}
.accordian.inventory .onlyIconButton {
    width: 30px;      
	height: 30px;
}
.accordian.inventory .iconButtonIconInner {
    width: 20px;
    height: 20px;
}
.stdSection {
    margin-bottom: 5px;
    box-shadow: 0 0 5px black;
    padding: 5px;
    border: 1px solid black;
}
.stdSection>*:first-child {
    margin-top: 0;
}
.stdSection>*:first-child {
    margin-bottom: 0;
}
.shelfform select, .shelfform input[type="text"], .shelfform input[type="number"] {
	width: 164px;
}
.shelf:last-of-type {
    margin-bottom: 0;
}
.shelf:first-of-type {
    margin-top: 0;
}
.switchWrap {
    height: 24px;
    width: 100%;
    max-width: 120px;
    background: rgb(217, 217, 217);
    border-radius: 4px;
    position: relative;
	cursor: pointer;
	box-shadow: inset 0 0 3px black;
}
.switchButton {
    height: 100%;
	width: 50%;
	background: grey;
	position: absolute;
	border-radius: inherit;
	box-shadow: inset 0 0 3px white;
}
.switchBackground {
    height: 100%;
}
.switchContent {
    float: left;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    padding-top: 3px;
}
.shelfContentWrap,.dataContentWrap,.uploaderContentWrap {
	display: none;
	padding: 6px 0 6px 22px;
}
.header {
	padding: 6px;
	position: relative;
	background: white;
	z-index: 99999;
	border-bottom: 1px solid black;
	height: 54px;
}
.headerSection {
	float: left;
	box-sizing: border-box;
	width: 33.33%;
	height: 100%;
	display: table;
	table-layout: fixed;
}
.headerLeft {
    padding-right: 5px;
}
.headerRight {
    padding-left: 5px;
}
.headerButton {
    float: left;
    margin-right: 5px;
	border-radius: 3px;
	max-width: calc(25% - 15px);
}
.headerButton:last-of-type {
    margin-right: 0;
}
.headerRight .headerButton {
	float: right;
}
.headerRight .editingSCPkg .headerButton {
	max-width: calc(50% - 15px);
}
.headerTitle {
	text-align: center;
	font-weight: 900;
	font-size: 20px;
	color: #80bd01;
	display: table-cell;
	vertical-align: middle;
}
.headerContEle.icon {
    margin-right: 10px;
	cursor: pointer;
}
.headerImg {
	max-width: 150px;
	max-height: 54px;
	display: block;
	margin: 0 auto;
}
.headerContEle.text {
    display: table-cell;
    vertical-align: middle;
	cursor: pointer;
}
.headerContentWrap {
    display: table;
	margin: 0 auto;
}
/*loader*/
.loader{
	display:none;
}
.loaderWrap{
	position: fixed;
    top: calc(50% - 70px);
    left: calc(50% - 88px);
    z-index: 99999999999;
    width: 176px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
    padding: 7px;
    box-sizing: border-box;
    border: 3px solid black;
	text-align: center;
    font-weight: 900;
    font-size: 20px;
    padding: 12px 0;
}
.loaderImg {
	margin: 0 auto;
	display: block;
}
.loaderAnim span {
    margin: 0 2px;
	cursor:default;
	height: 4px;
}
.loaderActive {
    color:transparent;
}
/*about*/
.aboutLogo {
	max-width: 50px;
	max-height: 50px;
}
.aboutLogoLink{
	display: inline-block;
	margin-right: 5px;
	vertical-align: bottom;
}
.aboutLogoLink:last-child {
    margin-right: 0;
}
/*inFormTable*/
.inFormTable {
	max-width: 100%;
	border-bottom: 2px solid black;
    border-top: 2px solid black;
    margin: 10px 0;
    padding: 10px 0;
}
.inFormTitle th{
	font-size: 18px;
    border-bottom: 1px solid black;
}
.inFormTableWrap input[type="number"], .inFormTableWrap input[type="text"] {
    width: 56px;
}
.inFormTable .tdLiner {
	text-align: right;
}
.inFormTable .formLabel .tdLiner{
	text-align: left;
}
.sumRowTD.sumRowTitle .tdLiner {
	text-align: left;
}
.sumRowTD {
	text-align: right;
}
.subSecHeader {
    background: #E6F0CF;
	box-shadow: 0 0 5px black;
}
.tableHeader {
    background: #DEF5F4;
}
.sumRow.tableTotals {
	background: #E6F0CF;
}
/*account*/
.accountBox {
	position: absolute;
	left: 0;
	bottom: 57px;
	background: inherit;
	z-index: 99;
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid black;
	display: none;
	background-color: white;
	max-width: 200px;
}
.accountBoxHolder {
	position: absolute;
	left: 10px;
	bottom: 0;
}
.accountBoxHeader {
    text-align: center;
}
.accountBoxInfo {
	word-wrap: break-word;
	font-size: 12px;
	margin: 2px 0;
}
.accountBoxInfoEle {
	display: inline;
}
.accountBoxInfoLabel {
	margin-right: 3px;
}
.accountBoxButton {
	font-size: 12px;
	text-decoration: underline;
	cursor: pointer;
	color: #005970;
	display: inline-block;
}
.accountManageActs input, .accountManageActs select {
    margin-bottom: 10px;
	padding-left: 4px;
}
.bodyContentWrap {
	position: relative;
}
#mapPrintContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999999999999999999999999999;
    top: 0;
    left: 0;
}
.sidePanel{
	position:absolute;
	left:0;
	top:0;
	max-height: 100%;
	box-sizing:border-box;
	padding:6px;
	background:white;
	z-index: 999;
	overflow-y: auto;
	display:none;
	height: 100%;
	box-shadow: 0 0 5px black;
	max-width: 100%;
}
.sidePanelContent {
	overflow-y: auto;
	padding: 5px;
	box-sizing: border-box;
	height: calc(100% - 30px);
}
.sPTopButtons {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    padding: 5px;
	border-top: 1px solid black;
}
.sidePanel.right{
	left:auto;
	right:0;
}
.extSidePanel {
	min-width: 50%!important;
}
.ol-attribution{
	white-space: nowrap;
}
.ol-attribution ul{
	max-width:none;
}
/*Michael Log In*/
.alreadySignedIn{
	display:none;
}
/*Dashboard*/
.summaryPanelLabel {
	font-size: 20px;
	color: #057953;
	font-weight: 900;
}
.dbChartsTitle {
	text-align: center;
}
.dbChartsTitle b{
	font-size:20px;
}
.dbChartsTitle {
	font-size:15px;
}
.dbSummaryUnit {
    display: inline-block;
    border: 4px solid #057953;
    border-radius: 50%;
    height: 100px;
    width: 138px;
	margin: 7px;
	cursor: default;
}
.dbSummaryPanel {
    text-align: center;
}
.dbSummaryInner {
    margin-top: 16px;
}
.dbSummaryAlias {
    font-size: 18px;
    color: #1371BE;
}
.dbChartsChartsWrap {
    text-align: center;
}
.dbChartGroup h3{
	border-bottom: 1px solid black;
}
.dbChartUnit {
    text-align: left;
    width: 95%;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 0 0 5px black;
    position: relative;
    display: inline-block;
	margin: 7px;
}
.dbChartsSettings {
    position: absolute;
    bottom: 0;
    background-color: rgb(223, 223, 223);
    padding: 5px;
    right: 0;
    width: 116px;
    box-shadow: 0 0 5px black;
	display:none;
}
.dbChartsSettingsWrap {
    position: absolute;
	bottom: 8px;
	right: 8px;
}
.countNumEle {
    float: left;
    text-align: left;
    margin-right: 5px;
}
.countNumLabel {
    width: calc(25% - 5px);
}
.countNumUnit {
    box-shadow: 0 0 5px black;
    margin-bottom: 8px;
    padding: 5px;
}
.summaryPLargeSumsWrap {
    box-shadow: 0 0 5px black;
    margin-bottom: 8px;
}
.countNumUnit:last-child {
    margin-bottom: 0;
}
.countNumValSelectWrap {
    width: calc(40% - 5px);
}
.countNumValSelect {
    width: 100%;
}
.countNumTotal {
	width: calc(18% - 5px);
	color: #057953;
	font-weight: 900;
	text-align: right;
	line-height: 18px;
}
.countNumTotalPerc {
	width: calc(17% - 5px);
	color: #1371BE;
	font-weight: 900;
	line-height: 18px;
}
ul.dbChartsSettingsList {
    margin: 0;
    padding: 0;
    list-style: none;
}
li.dbChartsSettingsListLI {
    cursor: pointer;
	padding: 4px;
	border-bottom: 1px solid white;
}
li.dbChartsSettingsListLI:last-child {
    border-bottom: 0;
}
li.dbChartsSettingsListLI:hover {
    background-color: #DEF5F4;
}
.dbSummaryAliasBottom {
	margin-top: 5px;
}
.dbSummaryData {
    font-weight: 900;
    color: #057953;
    font-size: 25px;
    line-height: 20px;
    margin-top: 2px;
}
.dbTab div.dashTabularWrap {
    max-height: 100%;
    overflow: auto;
}
table.dashTabular {
    width: 100%;
    text-align: left;
}
.dbCharts table.dashTabular {
    margin-top: 2em;
}
table.dashTabular th:nth-last-child(-n+2), table.dashTabular td:nth-last-child(-n+2) {
    text-align: right;
}
table.dashTabular tr:nth-child(2n) {
    background-color: rgba(220,220,220,1);
}
/*Filter Legend*/
.timeCompareIndTableWrap {
    margin-bottom: 5px;
    padding: 7px;
    box-shadow: 0 0 5px black;
}
.timeCompareIndTableTableWrap {
    max-height: 224px;
    overflow: auto;
}
.timeCompareIndTableWrap:last-child {
    margin-bottom: 0;
}
.timeTabLabel {
    text-align: center;
    font-weight: 900;
    margin-bottom: 7px;
}
.timeCompareIndLabel {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
    margin-bottom: 3px;
}
.timeCompareIndTable {
    border-collapse: collapse;
    margin: 0 auto;
}
.timeCompareIndTable .tdLiner {
    padding: 2px;
}
/*Filter Legend*/
.filterLegend {
	padding: 0 2px 2px 2px;
	position: relative;
}
.loader.flLoader {
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
}
.flLoader .loaderWrap {
    position: absolute;
}
.viewAllHTML {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 7px;
	position:relative;
}
.viewAllHTMLShadow {
    position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	display:none;
	background: rgba(0, 0, 0, 0.28);
	pointer-events: none;
}
.viewAllHTMLToggleWrap {
    margin-bottom: 5px;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
}
.nbSymbol {
    margin-right: 3px;
}
.naturalBreakUnit {
    margin-bottom: 2px;
}
.filterGroupUnit {
	padding: 3px;
	border: 1px solid black;
	border-bottom: none;
}
.filterGroupUnit.isFLClickable {
	cursor:pointer;
}
.filterGroupUnit.isFLClickable:nth-child(even) {
	background-color: #DFEEBF;
}
.fLNotLoadable.isFLClickable {
    cursor: default;
}
.filterGroupUnit.isFLClickable.fLNotLoadable:hover {
    background-color: inherit!important;
}
.filterGroupUnit.isFLClickable.fLNotLoadable:nth-child(even):hover {
    background-color: #DFEEBF!important;
}
.filterGroupUnit:last-child {
	border-bottom: 1px solid black;
}
.filterGroupUnit.isFLClickable:hover {
	background-color: #DEF5F4!important;
}
.naturalBreakUnit:last-of-type,.filterGroupUnit:last-of-type {
	margin-bottom: 0;
}
.flGUEle {
    float: left;
    margin-right: 3px;
}
.flGUEle:last-of-type {
    margin-right: 0;
}
.flGroupLabel {
	margin-left: 41px;
	float: none;
}
.dont_render_on_map .flGroupLabel {
	margin-left: 0;
}
.dont_render_on_map .filterGroupsHTMLWrapInner {
	max-height: none!important;
}
.filterLOptionsWrapEle {
	padding-bottom: 5px;
}
.flLoadMoreWrap {
	margin-bottom: 7px;
	background: white;
	padding: 5px;
	border: 1px solid black;
}
.loadMoreButton.lMDEle {
    float: left;
}
.loadMoreDetailsWrap {
    font-size: 15px;
}
.filterLOptionsWrap, .flNoResultsWrap, .flTopButtons {
	margin-bottom: 7px;
	background: white;
	padding: 5px;
	border: 1px solid black;
	padding-bottom: 0;
}
.flTopButtons .button {
    margin-bottom: 5px;
}
.flNoResultsWrap {
	text-align:center;
	padding-bottom: 5px;
}
.flOptionsSelect,.flLayerSearch {
	width: 154px!important;
}
.flOptionsLabel {
	width: 86px;
	padding-top: 2px;
}
.flOptionsSearchWrap,.flLoadMoreWrap {
	display:none;
}
.filterGroupsHTMLWrapInner {
    overflow-y: auto;
	padding: 5px;
    border: 1px solid black;
}
.filterGroupLabel {
    font-weight: 900;
    text-align: center;
    font-size: 13px;
    border: 1px solid black;
	border-bottom: 0;
}
.flList:last-child {
    margin-bottom: 0;
}
.flList {
	box-shadow: 0 0 5px black;
    margin-bottom: 10px;
}
.filterGroupsHTML {
    padding: 5px;
    border: 1px solid black;
}
.flToggleAll {
	margin-right: 12px!important;
}
.filterGroupsHTMLTop {
	border: 1px solid black;
	border-bottom: 0;
	padding-left: 5px;
}
.dont_render_on_map .filterGroupsHTMLTop {
	display:none;
}
.filterGroupsCharts,.filterLNACharts {
	margin-top: 7px;
}
.filterGroupsChartsExtras {
	margin-top: 7px;
	border: 1px solid black;
	padding: 5px;
	background: white;
}
.fLChart{
	margin:0 auto;
	display: block;
	max-width: 100%;
	height: auto!important;
}
.filterLegendPanel {
	width: 342px!important;
}
.filterGroupsChartsExtrasWrap {
	display: none;
	margin-top: 4px;
	border-top: 1px solid black;
}
.fLFLWrap {
	background: #DFEEBF;
	padding: 5px;
	box-shadow: 0 0 5px black;
}
.flLabel,.otherLayersLabel {
	font-weight: 900;
	text-align: center;
	margin-bottom: 7px;
	padding: 0 5px;
}
.filterGroupsHTMLWrap {
	background: white;
}
.otherLayersWrapWrap, .flCanopyWrap {
    background: #DFEEBF;
    padding: 5px;
    margin-top: 7px;
    box-shadow: 0 0 5px black;
}
.fLFLWrap>*:first-child {
    margin-top: 0;
}
.filterLegendPanel.canopyFLPanel {
    width: 170px!important;
    min-width: 0;
}
.flCanopyWrapWrap {
    background-color: white;
    margin-bottom: 5px;
    box-shadow: 0 0 5px black;
}
.canopyFLPanel .flCanopyWrap {
    background: inherit;
    box-shadow: none;
    border-top: 1px solid black;
    margin-top: 0;
}
.canopyFLPanel .filterGroupsHTMLTop {
    border: none;
    border-top: 1px solid black;
    padding-left: 3px;
    text-decoration: underline;
}
.canopyFLPanel .filterGroupsHTMLWrapInner {
    padding: 0;
    border: 0;
}
.canopyFLPanel .filterGroupsHTMLWrapO {
    box-shadow: none;
}
.canopyFLPanel .filterGroupUnit {
    border-left: 0;
    border-right: 0;
}
.canopyFLPanel .filterGroupsHTML {
    border: none;
    padding: 0;
}
.flCanopyLabel {
    font-weight: 900;
    font-size: 14px;
    text-align: center;
}
.flCanopyWrapWrap {
    background-color: white;
    margin-bottom: 5px;
    box-shadow: 0 0 5px black;
}
.canopyFLPanel .loaderWrap {
    max-width: 100%;
    left: 0;
}
.otherLayersWrap {
	background: white;
}
.otherLayersLayers {
    padding: 5px;
    border: 1px solid black;
}
.otherLayersWrapTop {
    padding-left: 5px;
    border: 1px solid black;
    border-bottom: 0;
}
/*Legend*/
.layersWrap {
	margin-top: 5px;
}
.noLayersWrap{
	display:none;
}
.legendRowEle {
    float: left;
	margin-right: 3px;
}
.layerLabelWrap, .layerPreview {
    padding-top: 2px;
}
.legendRowEle:last-child {
	margin-right: 0;
}
.layerLabelWrap {
	float: none;
	margin-left: 40px;
}
.layerLabelWrap>* {
    float: left;
}
.flOutOfRangeNotice {
    margin-left: 10px;
    font-size: 10px;
    margin-top: 4px;
}
.layerPreview {
	width: 16px;
	height: 16px;
	display: table;
}
.layerPreviewInner {
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: middle;
}
.layerPreviewContent.fill {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}
.layerPreviewContent.isLineStringLayerPrev {
    height: 0;
}
.layerPreviewContent.img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}
.legend .panelTop {
	border-bottom: none;
}
/*Filter*/
.filterPkgWrap{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.filterContent{
	position: absolute;
	top: 3px;
	right: 0;
	display: none;
	background: rgb(221, 230, 255);
	width: 200px;
	box-shadow: 0 0 5px black;
	padding: 5px;
	z-index: 999;
	font-weight: 500;
}
.inputPkg {
	text-align: left;
}
.filterPkgLabel {
	font-weight: 700;
	border-bottom: 1px solid black;
	margin-bottom: 2px;
}
.textInput.filterInput {
	width: 100%;
}
.chkPkg .checkboxWrap {
	background: white;
	margin-bottom: 2px;
}
.chkPkg .checkboxWrap:last-of-type {
	margin-bottom: 0;
}
.activeFilter {
	z-index: 1111;
}
/*Image Viewer*/
.scroller {
    background: #80bd01;
    width: 16px;
    padding: 4px;
	cursor: pointer;
	margin-top: 24px;
}
.assImageTNs {
	width: 100%;
	height: 100px;
	margin-top: 7px;
	overflow: hidden;
	padding-top: 7px;
	border-top: 1px solid rgb(41, 41, 41);
}
.assImageTNsEle {
    float: left;
}
.tnContainer {
    width: 524px;
    margin: 0 7px;
    height: 100%;
	position: relative;
	overflow: hidden;
}
.imgViewerPanel {
    width: 600px!important;
	background: black!important;
	z-index: 9999999999!important;
}
.assImageViewer {
    width: 100%;
}
.scrollRight {
    float: right;
}
.tnBackgroundWrap {
    height: 100%;
    position: absolute;
    width: 999999999999999999999;
	left: 0;
}
.tnBackground {
    height: 100%;
    position: absolute;
	left: 0;
}
.tnBGImg {
    max-height: 100%;
    margin-right: 5px;
    cursor: pointer;
    float: left;
}
.tnBGImg:last-of-type {
    margin-right: 0;
}
.noActive{
	opacity: 0.1;
	cursor: default;
}
.assImagesMainImgWrap {
    width: 100%;
	height: 400px;
}
.assImagesMainImg {
    margin: 0 auto;
    display: block;
	max-width: 100%;
	max-height: 100%;
}
.ivOtherInfoEle {
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding: 0 5px;
    color: rgb(148, 148, 148);
    border-right: 1px solid rgb(41, 41, 41);
}
.ivOtherInfo {
    padding-top: 7px;
    margin-top: 7px;
    border-top: 1px solid rgb(41, 41, 41);
}
.ivfileNameShow {
    text-align: right;
}
.ivOtherInfoEle:last-child {
    border-right: 0;
}
#shade{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(0, 0, 0, 0.79);
	display:none;
	z-index: 999999999;
}
/*Slider*/
.sliderInput {
    width: 100%;
    margin: 0;
}
.sliderPkgTop {
    margin-bottom: 5px;
}
.sliderPkg {
    margin-bottom: 5px;
}
.sliderPkgLabel {
	font-weight: 700;
}
/*input type=range*/
input[type=range] {
	-webkit-appearance: none;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	background: #E51B24;
	border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
	border: 1px solid #9D968E;
	height: 18px;
	width: 12px;
	background: #E51B24;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -7px;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	background: #E51B24;
	border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
	border: 1px solid #9D968E;
	height: 18px;
	width: 12px;
	background: #E51B24;
	cursor: pointer;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	border-width: 12px 0;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #E51B24;
	border: 0.2px solid #010101;
}
input[type=range]::-ms-fill-upper {
	background: #E51B24;
	border: 0.2px solid #010101;
}
input[type=range]::-ms-thumb {
	border: 1px solid #9D968E;
	height: 18px;
	width: 12px;
	background: #E51B24;
	cursor: pointer;
}
/*Range*/
.rangeHTMLWrap {
	position:relative;
	padding: 2px;
	/* background-color: white; */
	margin: 2px;
}
.rangeBottom {
	margin-top: 2px;
}
.rangeWrapWrap {
	width: 100%;
	background: white;
	padding: 0 6px;
	box-sizing: border-box;
}
.rangeWrap {
	position: relative;
	height: 18px;
	float:none;
	width: calc(100% - 12px);
	margin: 0 auto;
}
.range {
    width: 100%;
    margin: 0 auto;
	display: none;
	margin-top: 5px;
}
.rangeInputWrap {
    margin-top: 6px;
}
.showInput1.showInputs {
    float: left;
}
.showInputsWrap1 {
    float: left;
}
.showInputsWrap2 {
    float: right;
}
.showInput2.showInputs {
    float: right;
}
input[type="text"].showInputs,input[type="number"].showInputs {
	width: 95px;
    max-width: 49%;
    box-sizing: border-box;
}
.rangeHandle {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 12px;
	border: 1px solid #9D968E;
	z-index: 110;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #f4f4f4;
	background: -moz-linear-gradient(top, #f4f4f4 0%, #e2e2e2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#e2e2e2));
	background: -webkit-linear-gradient(top, #f4f4f4 0%,#e2e2e2 100%);
	background: -o-linear-gradient(top, #f4f4f4 0%,#e2e2e2 100%);
	background: -ms-linear-gradient(top, #f4f4f4 0%,#e2e2e2 100%);
	background: linear-gradient(to bottom, #f4f4f4 0%,#e2e2e2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e2e2e2',GradientType=0 );
}
.rangeHandle:active {
	background: #f4f4f4; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4f4f4 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4f4f4 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4f4f4 0%,#efefef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4f4f4 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f4f4f4 0%,#efefef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}
.rangeHandle:hover {
	background: #f4f4f4; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4f4f4 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4f4f4 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4f4f4 0%,#efefef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4f4f4 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f4f4f4 0%,#efefef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}
.topHandle{
	z-index:115;
}
.rangeTrack{
	background: #E3DDD8;
	position: absolute;
	top: 8px;
	left: 0;
	width: 100%;
	height: 4px;
	z-index: 90;
	cursor:pointer;
}
.avgIndicator {
	position: absolute;
	bottom: -12px;
	height: 12px;
	width: 2px;
	background-color: black;
}
.rangeLabelWrap {
	margin-bottom: 2px;
	float: left;
}
.rangeLabelWrap.labelForOne {
	max-width: 90%;
}
.bringDownLabel {
	margin-bottom: 0;
	width: auto;
}
.rangeLabelMax {
	text-align: right;
	padding-left: 5px;
	float: right;
	margin-left: 1%;
}
.rangeLabelMin {
	padding-right: 5px;
	float:left;
	text-align: left;
	margin-right: 1%;
}
.rangeValue {
	width: 49%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: white;
	padding: 0 2px;
}
.rangeWrapEle{
	/*display: inline-block;*/
	vertical-align: top;
}
.rangePkgTop {
	margin-bottom: 2px;
}
.rangePkgTop .moreInfoWrap {
    float: right;
    position: relative;
}
.onlyOutput{
	float: right;
	text-align: right;
	margin-right: 0;
	width: auto;
}
.filterExtrasTop {
    border-bottom: 1px solid black;
    margin-bottom: 2px;
}
.filterExtras {
	background: white;
	margin-top: 4px;
    border-top: 1px solid black;
    padding-top: 2px;
}
.rangeLabel {
	float: none;
	font-weight: 700;
}
.rangeScale {
  position: relative;
  width: calc(100% - 12px);
  height: 32px;
  margin: 3px auto 0;
}
.avgLabelAvg {
	text-decoration: underline;
}
.avgLabelContent {
	text-align: center;
}
.bottomLine {
	position: absolute;
	left: 0;
	top: 13px;
	width: 100%;
	height: 1px;
	background: black;
}
.scaleNotch {
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 14px;
	background: black;
}
.notchLabels {
	position: absolute;
	width: 100%;
	height: 100%;
}
.notchLabel:first-child {
	left: 0!important;
	text-align: left;
}
.notchLabel {
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 46px;
	height: 16px;
	text-align: center;
	cursor: default;
}
.notchLabel:last-child {
	right: 0!important;
	left: auto!important;
	text-align: right;
}
.rangeScale.discreteScale .notchLabels {
    display: none;
}
.rangeScale.discreteScale .scaleNotch {
    top: 4px;
    height: 8px;
}
.rangeScale.discreteScale {
    height: 14px;
    margin-top: -10px;
}
.rangeScale.discreteScale .bottomLine {
    display: none;
}
.rangeScale.discreteScale .scaleNotch:first-child {
    display: none;
}
.rangeScale.discreteScale .scaleNotch:last-child {
    display: none;
}


.scaleWrap {
    width: 90%;
    margin: 0 auto;
	margin-top: -4px;
}
.scaleBackground {
    height: 16px;
    position: relative;
}
.scalePoint {
    position: absolute;
	height: 100%;
}
.scalePointer {
    border-right: 1px solid black;
    height: 5px;
    width: 0;
    position: absolute;
}
.scalePointLabel {
    width: 24px;
	overflow: hidden;
	font-size: 10px;
	left: -12px;
	position: absolute;
	bottom: -2px;
	text-align: center;
}
.colorGrdCnvs {
	position: fixed;
	left: 10px;
	top: 73px;
	z-index: 9999999999;
	display:none;
}
/*Editable List*/
.editableListWrap {
	/* border: 1px solid black; */
}
.editableListItem {
    border: 1px solid black;
    margin-bottom: 2px;
    cursor: pointer;
	padding: 2px;
	word-break: break-all;
}
.editableListItem:last-of-type {
    margin-bottom: 0;
}
ul.editableList {
    padding: 2px;
    margin: 0;
}
.filePkgWrap .editableListWrap {
    margin-bottom: 5px;
}
.editableListButtonsWrap{
    text-align:right;
	padding: 2px;
}
.editableListButtonsWrap .button {
    display: inline-block;
}
.eLRemove {
    padding: 0 2px;
	margin-right: 2px;
	width: 8px;
}
.elLabel {
    margin-left: 14px;
	padding-left: 4px;
}
/*map controls*/
.ol-rotate.ol-control {
	display: none;
}
/*Tabs*/
.tab {
	display: inline-block;
	padding: 5px;
	border: 1px solid black;
	border-left: none;
	background: #80bd01;
	cursor: pointer;
	color: white;
	box-sizing: border-box;
}
.tabsWrap {
	position: relative;
	top: 1px;
	border-left: 1px solid black;
	border-radius: 4px 0 0 0;
}
.tabsContentWrap {
    border: 1px solid black;
}
.activeTab {
	z-index: 9999;
	background: white;
	color: #000000;
	cursor: default;
}
.tab:first-child {
	border-radius: 4px 0 0 0;
}
.tab:last-child {
	border-radius: 0 4px 0 0;
}
.tabContent {
    display: none;
	padding: 5px;
	background: white;
}
.editFormTab {
	box-shadow: 0 0 5px black;
	background: #DFEEBF;
}
.optionsLabel {
    text-align: center;
    font-weight: 900;
}
.efSignOffInfo {
    text-align: center;
    margin: 10px 0;
}
.efOptionsSection {
    border-bottom:1px solid black;
	padding-bottom:7px;
	margin-bottom:7px;
}
.efOptionsSection:last-child {
    border-bottom:none;
	padding-bottom:0;
	margin-bottom:0;
}
.editFormFieldsPreview {
	margin-top: 5px;
    border-top: 1px solid black;
    padding: 5px;
}
.efPreviewFieldUnit:nth-child(odd) {
    background-color: #F3F7EA;
}
.editFormFieldsPreviewContent {
    background-color: #DFEEBF;
    border: 1px solid black;
}
.efPreviewFieldUnit {
    padding: 2px;
	border-bottom: 1px solid black;
}
.efPreviewFieldUnit:last-child {
    border-bottom: 0;
}
.efPreviewFieldUnitEle {
    float: left;
}
.efPreviewFieldUnitLabel {
    margin-right: 10px;
    border-right: 1px solid black;
    padding-right: 10px;
    max-width: 160px;
    word-wrap: break-word;
}
.efSignOffTable{
	border-collapse:collapse;
	margin: 0 auto;
	background-color: #DFEEBF;
}
.efSignOffRow:nth-child(odd) {
    background-color: #F3F7EA;
}
.multiDBHTable{
	border-collapse:collapse;
}
.multiDBHTBody .tdLiner {
    min-width: 0!important;
}
.multiDBHTBody .formInput {
    width: 73px;
}
.multiDBHTRWrapTD {
    text-align: center;
}
.multiDBHTableWrap {
    display:inline-block;
}
.multiDBHCalcButton {
    margin-top:7px;
}
.ol-scale-line{
	bottom:26px!important;
}
/*Panels*/
.panelsContainer {
	position: absolute;
    bottom: 22px;
    right: 10px;
    text-align: right;
    max-width: calc(100% - 124px);
	min-width: 112px;
}
.panel{
	display:none;
	position:fixed;
	z-index:99999;
	padding:7px;
	box-sizing:border-box;
	box-shadow:0 0 5px black;
	max-width:100%;
	max-height:100%;
	background: white;
	min-height: 100px;
	min-width: 250px;
	overflow-y: auto;
	text-align: left;
}
.activePanel{
	z-index:999999;
}
.scrollToTop {
    position: absolute;
    background-color: #DFEEBF;
    height: 26px;
    width: 26px;
    z-index: 99;
    text-align: center;
    cursor: pointer;
    right: 23px;
    top: calc(50% - 13px);
    box-sizing: border-box;
    font-weight: 900;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
}
.resizeHandle{
	position:absolute;
	background-color:transparent;
	z-index:999999;
}
.minimized .resizeHandle {
	cursor: default;
}
.cornerHandle{
	z-index:9999999;
	height:5px;
	width:5px;
}
.hW{
	top:0;
	left:0;
	height:100%;
	width:3px;
	cursor:w-resize;
}
.hE{
	top:0;
	right:0;
	height:100%;
	width:3px;
	cursor:e-resize;
}
.hN{
	top:0;
	left:0;
	height:3px;
	width:100%;
	cursor:n-resize;
}
.hS{
	bottom:0;
	left:0;
	height:3px;
	width:100%;
	cursor:s-resize;
}
.hNW{
	top:0;
	left:0;
	cursor:nw-resize;
}
.hNE{
	top:0;
	right:0;
	cursor:ne-resize;
}
.hSW{
	bottom:0;
	left:0;
	cursor:sw-resize;
}
.hSE{
	bottom:0;
	right:0;
	cursor:se-resize;
}
.panelLabel {
	font-size: 18px;
	font-weight: 900;
}
.panelContent {
	display: inline-block;
	width: 100%;
	padding-top: 7px;
	box-sizing: border-box;
}
.panelBody.panelBodyWTop .panelContent {
	padding-top: 0;
}
.panelTop {
	border-bottom: 1px solid black;
	padding-bottom: 2px;
	position: absolute;
	box-sizing: border-box;
	background: #DFEEBF;
	padding: 5px;
	top: 0;
	left: 0;
	right: 0;
	cursor: move;
	z-index: 99;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 0 5px black;
}
.panelBodyWrap {
    height: calc(100% - 23px);
	margin-top: 23px;
}
.panelBody {
	height: 100%;
	box-sizing: border-box;
	overflow-y: auto;
	width: 100%;
}
.panelBody.panelBodyWTop {
	box-shadow: 0 0 5px black;
	padding: 5px;
}
.topContentWrap {
	background-color: white;
	box-shadow: 0 0 5px black;
	padding: 7px;
	box-sizing: border-box;
	margin-bottom:5px;
}
.panel.panelWTop{
	overflow-x:hidden;
}
.advFWhereShow {
    font-size: 12px;
	margin-bottom: 5px;
}
.advFWhereShowContent {
    margin-left: 5px;
}
.advFWhereShowLabel {
    font-weight: 900;
}
.sheetPrepForm {
  min-width: 400px;
}
.paneltitle {
    float: left;
	margin-top: 3px;
	font-size: 12px;
}
.panelbuttons {
    float: right;
}
.panelButtonsEle,.sPTopButton,.invEditorDeleteButton{
	float: right;
	width: 20px;
	height: 20px;
	cursor: pointer;
	color: white;
	background: #005970;
	padding: 4px;
	font-weight: 900;
	margin-left: 2px;
	font-size: 13px;
	line-height: 12px;
	box-sizing: border-box;
	text-align: center;
	box-shadow: 0 0 2px black;
    border: 1px solid white;
    border-radius: 3px;
}
.panelButtonsEle:active, .sPTopButton:active {
    box-shadow: none;
}
.panelButtonsEle:last-of-type{
	margin-left:0;
}
.maximizePanel{
	display:none;
}
.minimizePanelInner{
	border-bottom:3px solid white;
}
.exportPT{
	background-image: url('../images/download_white_small.png');
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: center;
}
.innerButton{
	height: 100%;
	box-sizing: border-box;
}
.maximizePanelInner{
	border:1px solid white;
	border-bottom:3px solid white;
}
.minimized{
	width: 122px!important;
	height: 30px!important;
	top: auto;
	left: auto;
	position:static;
	margin-right: 4px;
	margin-bottom: 4px;
	display: inline-block!important;
	min-width: 0;
	min-height: 0;
	padding: 0;
	max-width: none;
}
.panel.minimized {
	background: white!important;
	border-radius: 0 0 10px 10px;
}
.minimized .panelTop{
	border-bottom:none;
	position: static;
	cursor: default;
}
/*Inventories/Templates, Add By Address*/
.templateUnit,.addMethodOption {
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
	border-bottom: 0;
}
.templateUnit.notemplate {
	margin-bottom: 7px;
	border: 1px solid black;
}
.templateUnit:last-of-type,.addMethodOption:last-of-type {
	border-bottom: 1px solid black;
}
.templateUnit:hover,.addMethodOption:hover {
	background-color: #DEF5F4;
}
.addByAddressEle {
    margin-bottom: 5px;
}
.addByAddressEle:last-child {
    margin-bottom: 0;
}
.addByAddressButtons {
    text-align: right;
}
.editingSCPkg {
    float: right;
    margin-right: 5px;
	max-width: calc(50% - 10px);
}
.headerRight .headerButton:last-of-type {
    margin-right: 5px;
}
.headerRight .headerButton:first-of-type {
    margin-right: 0;
}
/*Geocoder*/
.tbGEoInputWrapEle{
	float:left;
}
/*Signature*/
.signature {
	width: 374px;
}
.sigCanvas {
	width: 300px;
	height: 70px;
	cursor:default;
}
.signatureCanvasWrap {
	border:1px solid black;
	display:inline-block;
}
.sigExtras {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 5px;
	width: 67px;
}
.sigExtra {
    cursor: pointer;
    padding: 1px 2px;
    border: 1px solid black;
    font-size: 12px;
	margin-bottom:4px;
	width: 100%;
	box-sizing: border-box;
}
.sigExtra:last-of-type {
	margin-bottom:0;
}
.sigSignedStatus {
	cursor: default;
}
.notSigned {
	background: rgb(255, 188, 188);
}
.signed {
	background: rgb(188, 255, 194);
}
/*Exporter Field Mngr*/
.exportFieldMngPIO {
    width: 78px!important;
}
.fieldMngTable th {
    border-bottom: 1px solid black;
}
/*Lookup Table Editor*/
.itemEditorList {
    border-collapse: collapse;
}
.luEditorTH {
    cursor: pointer;
}
.luEditUnitTD {
    cursor: pointer;
}
.luEditUnitTD:hover {
    background: rgb(229, 229, 229);
}
.luEditInputWrap {
    cursor: default;
}
.luELI {
    padding: 3px;
    cursor: pointer;
    border: 1px solid black;
    border-bottom: none;
}
.luEUL {
    list-style: none;
    padding: 0;
}
.luELI:last-child {
    border-bottom: 1px solid black;
}
.luELI:hover {
    background: rgb(229, 229, 229);
}
/*Map Point, Map Polygon*/
.mapPointButtons,.mapPolygonButtons {
	width: 133px;
    padding: 5px;
    box-sizing: border-box;
}
.showMapPoints,.removeMapPoints {
    margin-top: 5px;
}
.mapPointStop,.removeMapPoints,.mapPolygonStop,.removeMapPolygons {
	display:none;
}
.mapPointButton,.mapPolygonButton {
    border-bottom: 1px solid white;
    font-size: 15px;
	margin-right: 0;
}
.mapPointButton:last-of-type,.mapPolygonButton:last-of-type {
    border-bottom: none;
}
/*Lookup List*/
.lookUpListUL {
    list-style: none;
    padding: 0;
	margin: 0;
}
.lookUpItem {
    padding: 3px;
    border-bottom: none!important;
    cursor: pointer;
    border: 1px solid black;
}
.lookUpItem:last-of-type {
    border-bottom: 1px solid black!important;
}
.lookUpItem:hover {
    background: rgb(229, 229, 229);
}
.lookUpListEle {
	margin: 0;
	margin-bottom: 14px;
}
.lookUpTops.lookUpListEle {
    border-bottom: 2px solid black;
    padding-bottom: 7px;
    margin-bottom: 7px;
}
.lookUpListEle:last-child {
   margin-bottom:0;
}
.lookupTableSearch {
	width: 100%!important;
	height: 31px;
	border-radius: 12px;
	padding: 0 5px;
	font-size: 16px;
}
.lookupFormButton {
	float:right;
	margin-left: 5px;
	margin-top: 5px;
}
.lookUpItemRemove {
    float: right;
    padding: 0px 5px;
    background-color: rgb(229, 229, 229);
}
.topListLabel {
	text-align: center;
	font-weight: 900;
	font-size: 13px;
}
.panel.lookUpTablePanel {
    min-width: 313px;
	max-width: 600px;
}
.lookUpItemFilterLI .lookUpItemLabel {
	margin-left: 23px;
}
.lookUpItemFilterCheckWrap {
    float: left;
    margin-right: 5px;
}
.lookUpItemRemove:hover {
    background-color: #DEF5F4!important;
}
.lookupTableSearchAdd {
	/* cursor:pointer;
	background:#03afa8 url("../images/plus.png") no-repeat;
	height:20px;
	width:20px;
	border-radius: 12px; */
}
.lookupFormButton:last-child {
	margin-left: 0;
	margin-right: 5px;
}
.lookupTableSearchWrap {
    margin-bottom: 7px;
}
/*Editor*/
.inventoryContainerLabel {
	text-align: center;
	font-size: 18px;
	font-weight: 900;
}
.in_editor_desc {
	font-size: 14px;
	padding: 4px;
	border-bottom: 1px solid black;
	margin-bottom: 4px;
	border-top: 1px solid black;
}
/*Edit Form*/
.editForm .popupTable,.editForm .editFormTabTable {
    width: 100%;
    box-sizing: border-box;
}
.popUpRow:nth-child(odd),.advFTR:nth-child(odd) {
	background-color: #F3F7EA;
}
.editForm .htmlRow .tdLiner{
	max-width: 772px;
	font-size: 12px;
}
.editFormPanel .popupRowLabel {
	min-width: 182px;
}
.editForm .popupTable td:first-child .tdLiner,.editForm .editFormTabTable td:first-child .tdLiner {
	min-width: 200px;
}
.toolBox input[type="text"], .toolBox input[type="password"], .toolBox input[type="email"], .toolBox input[type="number"], .toolBox input[type="file"], .toolBox select,.toolBox textarea {
	width: 142px;
}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="file"], select,textarea {
	height: 22px;
	width: 227px;
	border-radius: 5px;
	border: 1px solid rgb(178, 178, 178);
	background-color: white;
}
textarea {
    height: auto;
}
.popupTable input,.editFormTabTable input {
	padding: 0 4px;
}
/* .popupTable input, .popupTable select,.editFormTabTable input, .editFormTabTable select {
	border-radius: 5px;
	border: 1px solid rgb(178, 178, 178);
	height: 22px;
	width: 277px;
	margin: 3px;
} */
/* .editFormTabTable input[type="checkbox"], .editFormTabTable input[type="radio"]{
	height: auto;
} */
.editFormPanel .tabsContsWrap{
	width: 500px;
	max-width: 100%;
}
.editFormTabTable{
	border-collapse:collapse;
	width: 100%;
	table-layout: fixed;
}
.editFormTop {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid black;
}
.editFormTop .photoHTMLPkg {
	display: inline-block;
}
.editFormTop .button {
    margin-right: 5px;
}
.editFormTop .button:last-of-type {
    margin-right: 0;
}
/*Alignment*/
.alignment {
	width: 58px;
	height: 58px;
}
.alignmentEle {
    width: 33.3333%;
    height: 33.3333%;
    box-sizing: border-box;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.alignmentEle:nth-child(3n-2) {
    border-left: 1px solid black;
}
.alignmentEle:nth-child(1),.alignmentEle:nth-child(2),.alignmentEle:nth-child(3) {
    border-top: 1px solid black;
}
.activeAlignmentEle {
	background-color: rgb(121, 156, 251);
}
.activeAlignmentEle:hover {
    background-color: rgb(121, 156, 251)!important;
}
.alignmentEle:hover {
    background-color: rgb(234, 239, 255);
}
/*availability selector*/
.availSelTable {
    border-collapse: collapse;
}
.availSelTR .tdLiner {
    max-width: 108px;
}
.availSelTable .tdLiner {
    padding: 2px;
}
.availSelQuantInput {
    width: 62px!important;
}
.asNonTableCell {
    float: left;
    margin-right: 5px;
}
.availSelWrap.asSizeFormat {
    border: 1px solid black;
    padding: 7px;
	max-height: 600px;
	padding-bottom: 0px;
}
.availSelNoItems {
    margin-bottom: 7px;
    text-align: center;
}
.availSelGroup {
    width: 100%;
	border-bottom: 1px solid black;
    margin-bottom: 7px;
}
.availSelGroupsWrap {
    width: 256px;
}
.availSelGroupList .availSelTR {
    padding: 3px;
}
.availSelCount {
    width: 20px;
    text-align: right;
    padding-top: 3px;
}
.availSelAlias {
    padding-top: 3px;
    width: calc(100% - 67px);
    margin-right: 0;
}
.availSelGroupLabel {
    background: #E6F0CF;
    box-shadow: 0 0 5px black;
    padding: 2px;
}
.availSelTR.activeAvailSelect {
    background-color: rgb(211, 221, 249);
}
.availSelWrap {
    max-height: 242px;
    overflow-y: auto;
}
/*export field manager*/
.exportTempPicker .button {
	margin: 7px auto 0;
	width: 94px;
	display: block;
}
.fieldMngHasTmp.button {
    background-color: #079CC3;
}
.exportTempPicker .panelContent {
	padding-top:0;
}
/*inventory editor*/
.invEditorListLIEle {
    display: inline-block;
    margin-right: 7px;
    vertical-align: top;
}
.invEditorListLIEle:last-child {
    margin-right: 0;
}
.invEditorListLIDelete {
    float: right;
}
input.invEditorListLICountInput {
    width: 40px!important;
}
ul.invEditorList {
	list-style: none;
	padding-left: 0;
	display: inline-block;
	margin: 0;
	margin-top: 7px;
	max-height: 377px;
    overflow-y: auto;
	width: 100%;
}
.invEditorUnitsWrap {
    max-height: 800px;
    overflow: auto;
}
.invEditorListLI {
    border: 1px solid black;
	padding: 5px;
	border-bottom: 0;
}
.invEditorListLI>table {
    margin: 0 auto;
}
.invEditorListLI:last-child {
    border-bottom: 1px solid black;
}
.invEditorListWrap {
    text-align: center;
}
.invEditorUnitTop .button {
    float: right;
}
.invEditorLabel {
    float: left;
    font-weight: 700;
	margin-top: 8px;
}
.invEditorUnit {
    padding: 7px;
    box-shadow: 0 0 5px black;
    margin-bottom: 7px;
}
.invEditorUnit:last-child {
    margin-bottom: 0;
}
/*data tables*/
.dataTablePkgWrap {
	border: 1px solid black;
	position: relative;
}
.tpdataTableRow {
    background-color: white;
}
.activeRow {
	background-color: rgb(191, 222, 230)!important;
   /*  border-top: 2px solid rgba(0, 89, 112, 1);
    border-bottom: 2px solid rgba(0,89,112,1); */
}
.tpdataTableRow:nth-child(odd) {
	background: #DFEEBF;
}
.dataTablePkgWrap table{
	border-collapse:collapse;
}
.dtButtonsTop .zoomToDTButton {
	display:none;
}
.mainTbody {
	cursor: -webkit-grab;
}
.dataTableWrap {
	overflow-y: scroll;
	max-height: 340px;
	min-height: 165px;
}

.dtScrollPosBar {
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 8px;
    background: rgba(159, 159, 159, 0.8);
}
.dtScrollPos {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 12px;
    background-color: white;
    height: 100%;
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.tpdataTable {
    border-left: 0;
	border-top: 0;
}
.mainDataTableHeader {
    border-left: 0;
}
.dataTablePanel .dataTableWrap {
	max-height: 700px;
}
.dataTableSigImg {
	max-width: 99%;
	max-height: 100%;
}
.dtButtons {
	padding: 2px;
	border-top: 1px solid black;
}
/* .dtButton {
    border-right: 1px solid white;
}
.dtButton:last-of-type {
    border-right: none;
} */
.dtBotButton {
    float: left;
}
.tHeadSortWrap {
	width: 13px;
}
.tHeadSortArrow {
	width: 100%;
	height: 8px;
	cursor: pointer;
}
.dataTableLabelContent {
	margin-right: 16px;
}
.dtColHead {
	float: right;
}
.dtColHeadEle {
	margin-bottom:4px;
}
.dtColHeadEle:last-of-type {
	margin-bottom:0;
}
.filterButton {
	height: 12px;
	width: 12px;
	cursor:pointer;
}
.tHeadSortArrow.tHSAsc {
	background:url("../images/Sort_Arrow_Up_Unselected.png") no-repeat;
	margin-bottom: 4px;
}
.tHeadSortArrow.tHSAsc.arrowSelected {
	background:url("../images/Sort_Arrow_Up.png") no-repeat;
}
.tHeadSortArrow.tHSDesc {
	background:url("../images/Sort_Arrow_Down_Unselected.png") no-repeat;
}
.tHeadSortArrow.tHSDesc.arrowSelected {
	background:url("../images/Sort_Arrow_Down.png") no-repeat;
}
.dataTableTdLiner {
	overflow-y: auto;
	max-height: 100px;
	min-width: 110px;
	max-width: 252px;
	padding: 0 2px;
	min-height: 20px;
}
.dataTableWrap .dataTableCurrent {
    height: 46px;
    overflow: auto;
}
.editingBox.dataTableTdLiner {
	min-width: 0;
}
.editBoxWrap,.dTCheckBoxWrap {
	display: table;
}
.panelHTML .dtButtonsTop {
	float: none;
	margin-bottom: 2px;
}
.dtButtonsTop {
	float: left;
	width: calc(100% - 19px);
}
.viewMoreWrap {
	font-size: 12px;
}
.viewMoreBotButtons {
	text-align: right;
}
.dtButtonsTop>* {
    vertical-align: top;
	margin-bottom: 5px;
	margin-top: 5px;
}
.dtButtonsTopBsWrap .stdButton {
    margin-bottom: 5px;
}
.dtButtonsTopBsWrap {
    margin-bottom: 0;
}
.dTCustomReportsWrap {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 5px;
    margin-right: 5px;
}
.dTCustomReportsWrap>* {
    float: left;
}
.dTCustomReportsSelect {
    width: 105px;
    margin-left: 6px;
}
.dTCustomReportsWrap>*:first-child {
    margin-top: 2px;
}
.dtButtonsTop>*:last-child {
    margin-right: 0;
}
.transferToAskFieldRowEle {
    float: left;
}
.transferToAskFieldRowLabel {
    margin-right: 5px;
    margin-top: 2px;
}
.transferToBottomButtons {
    text-align: center;
    margin-top: 7px;
}
.pageDetailsWrap {
	width: 100%;
}
.pageDetailsHTML {
    font-size: 11px;
}
.dtSortButtons {
    margin-top: 5px;
    text-align: right;
}
.dtSortWrap {
    float: left;
    margin-right: 5px;
}
.dtSortWrap:last-child {
    margin-right: 0;
}
.sortOptionsTable{
	margin: 0 auto;
}
.dataTablePkgWrap .tab {
    font-size: 12px;
}
.sortOptionsTable th {
    font-size: 12px;
}
.sortOptionsTable td {
    font-size: 12px;
}
.dtInstructs {
    font-size: 12px;
}
.dtSortSelector {
	width: 96px!important;
	height: 18px!important;
	/* line-height: 5px; */
	font-size: 12px;
}
input[type="number"].dtSortSelector {
	width: 64px!important
}
.changePagButton{
	height:26px;
	width:15px;
	cursor:pointer;
	margin-right: 9px;
	float: left;
	margin-top: 2px;
}
.changePagButton:last-child{
	margin-right:0;
}
.loadPrevSet{
	background: url("../images/pointer_left_med.png") no-repeat;
}
.loadNextSet{
	background: url("../images/pointer_right_med.png") no-repeat;
}
.dtSortLabel {
    font-size: 11px;
}
.checkAllEle {
    display: table-cell;
    vertical-align: middle;
}
.dTCheckAllLabel {
	font-weight: normal;
}
.editBoxEle {
    display: table-cell;
}
.dtRCheckB,.dtRCheckAll {
	margin-right: 16px;
}
.dTCheckBWrap {
    margin-right: 20px;
	vertical-align: middle;
}
.tableEleWrap.stickyHeaderWrap {
    min-width: 0;
	background-color: white;
	position: absolute;
}
.dtStickyCols {
    border-right: 2px solid black;
	border-top: 0;
}
.stickyDTHeader {
    border-right: 2px solid black;
}
.tableEleWrap {
	display: inline-block;
	min-width: 100%;
}
.stickyColumnsWrap.tableEleWrap {
	display: block;
	min-width: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	background-color: white;
}
.dtStickyColsWrap {
    max-height: 340px;
    min-height: 165px;
    position: absolute;
	z-index: -1;
	background-color: white;
}
.dataTablePkgInnerWrap {
	overflow-x: auto;
	position: relative;
	overflow-y: hidden;
}
.dataTablePkgInnerWrapWrap {
    position: relative;
}
.tableHeaderTBody{
	opacity:0;
}
.dataTableLabelTD{
	vertical-align: top;
}
.editingBoxCheckAll{
	vertical-align: middle;
}
.dataTableLabelTDLiner {
	min-width: 68px;
	text-align: center;
	font-size: 11px;
	position: relative;
	height: 37px;
	word-wrap: break-word;
	padding: 0 2px;
}
.dataTableLabelTDLiner.editingBox {
	text-align: left;
	min-width: 0;
}
.dataTableEdit {
	display:none;
}
.dataTableTd,.editBoxWrap {
    position: relative;
}
.editorImg {
    max-width: 100%;
    max-height: 100%;
}
.dataTableEditLink,.dataTableDoneEditLink {
	display: none;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	background: white;
	padding: 2px;
	border: 1px solid black;
}
.outerEditingW{
	position:relative;
}
.transferToCopiesInput {
    width: 44px!important;
}
.dtLastOfTab {
	border-right: 5px solid black;
}
.dtLastOfTab:last-child {
	border-right: none;
}
.tabLabelTd {
	border-right: 5px solid black;
	background-color: #80bd01;
	color: white;
	padding-left: 10px;
}
.tabLabelTd:last-child {
	border-right: 0;
}
.editing:hover  .dataTableDoneEditLink {
	display:block;
}
.notEditing:hover  .dataTableEditLink {
	display:block;
}
.topEle {
    float: right;
	margin-top: 5px;
}
.dtTop {
	padding: 0 5px;
}
.topButton {
    cursor: pointer;
    width: 19px;
    height: 19px;
	float: left;
}
.topButtonImg {
    max-width: 100%;
    max-height: 100%;
}
.panelTitleCondensed {
    display:none;
}
/*View More*/
.viewMore,.viewIntro{
	text-decoration:underline;
	color:#005970;
	cursor: pointer;
}
.viewMoreContent{
	display:none;
	padding: 5px;
    box-shadow: 0 0 5px black;
    margin: 5px 0;
}
/* .contract {
	display:none;
} */
/*Map Tools*/
.panel.mapTools .panelTop {
    display: none;
}
.panel.mapTools:hover {
	background-color:rgba(255,255,255,.6);
}
.panel.mapTools {
	width: 31px!important;
	min-width: 0;
	border-radius: 4px;
	padding: 2px;
	min-height: 0;
	background-color: rgba(255,255,255,.4);
	max-height: none;
	box-shadow: none;
}
.mapToolItem {
	background-color: rgba(0,60,136,.5);
	height: 25px;
	box-sizing: border-box;
	cursor: pointer;
	margin: 1px;
	text-align: center;
	font-size: 23px;
    color: white;
}
.mapToolItem:hover {
	background-color: rgba(0,60,136,.7);
}
.panel.mapTools .panelBodyWrap {
	margin-top: 0;
	overflow: visible;
}
.panel.mapTools .panelContent {
    padding-top: 0;
}
.mapToolItem:first-child {
    border-radius: 2px 2px 0 0;
}
.mapToolItem:last-child {
    border-radius: 0 0 2px 2px;
}
.mapToolImg {
	margin: 0 auto;
	display: block;
	max-height: 16px;
	padding-top: 4px;
	max-width: 16px;
}
/*Geocoder*/
.geocoderPkg {
	margin-top: 4px;
	vertical-align: bottom;
}
.geocoderBtn {
    float: left;
    margin-right: 3px;
}
.geocoderBtn:last-of-type {
    margin-right: 0;
}
/*ToolTip*/
.fixedContainer{
	position:fixed;
	bottom:0;
	left:0;
	z-index: 99999999;
}
.toolTip{
	position:fixed;
	width:120px;
	max-height:160px;
	background:white;
	box-shadow:0 0 5px black;
	padding:5px;
	z-index:999;
	pointer-events: none;
	display:none;
	max-width: 240px;
}
/*InfoTip*/
.infoTip {
	position: fixed;
	width: 324px;
	background: white;
	box-shadow: 0 0 5px black;
	padding: 5px;
	z-index: 999;
	display: none;
	border-radius: 5px;
}
.infoTip.planIT {
	width: 172px;
}
.infoTipTbody {
	font-size: 14px;
}
.infoTipTbody tr:nth-child(even) {
    background-color: #DFEEBF;
}
.itHeadLabelRow {
	background-color: #D1D1D1;
}
.itExtrasWrap {
	text-align: right;
}
.itExtra {
	color: #00539B;
	font-size: 12px;
	cursor: pointer;
	display: inline-block;
}
.canopyITContent {
    border-collapse: collapse;
	width: 100%;
}
table.canopyITContent td {
    padding: 0;
}
table.canopyITContent .tdLiner {
    padding: 1px;
}
.itSubLabel {
	font-size: 13px;
}
.rankTitleWrap {
	font-weight: 900;
}
.infoTipVal {
	text-align: right;
}
/*Advanced Filter*/
.advFilterPanel .chkPkg .checkboxWrap{
	background: transparent;
}
.advFilterPanel .filterExtras {
	background: transparent;
}
.advFilterPanel .rangeTrack{
	background: #E3DDD8!important;
}
.advFilterPanel .rangeHandle {
	background: #f4f4f4!important;
	background: -moz-linear-gradient(top, #f4f4f4 0%, #e2e2e2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#e2e2e2))!important;
	background: -webkit-linear-gradient(top, #f4f4f4 0%,#e2e2e2 100%)!important;
	background: -o-linear-gradient(top, #f4f4f4 0%,#e2e2e2 100%)!important;
	background: -ms-linear-gradient(top, #f4f4f4 0%,#e2e2e2 100%)!important;
	background: linear-gradient(to bottom, #f4f4f4 0%,#e2e2e2 100%)!important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e2e2e2',GradientType=0 )!important;
}
.advFFields .inputPkgContent {
    max-height: 300px;
    overflow-y: auto;
}
.advFilterPanel .panelBody {
	/* min-width: 430px; */
}
.advFSelectorsItemWrapEle {
    float: left;
}
.advFSelectorsItemLabel {
    width: 104px;
}
.advFSelectorsItemWrap {
    margin-top: 5px;
	border-top: 1px solid black;
    padding: 5px;
}
.advFSelectorsItemWrap:first-child {
    margin-top: 0;
	border-top: 0;
}
.aFTopsWrapEle {
    margin-top: 5px;
    box-shadow: 0 0 5px black;
    padding: 5px;
}
.accordian.afFields {
    padding: 10px 10px 10px 0;
}
.actChkShelf .shelfContentWrap {
    margin-left: 32px;
}
.accordian.afFields .luFilterPkg{
	text-align: center;
}
.accordian.afFields .luShowFilteredValues {
    text-align: left;
}
.showFilteredValuesUL {
    padding: 5px;
    padding-left: 28px;
    box-shadow: 0 0 5px black;
	margin: 8px 0;
}
.actCheckWrap {
    float: left;
    width: 30px;
}
.actCheckWrap .checkboxWrap {
    margin: 6px 6px 0 6px;
}
.advFSelectorsItemWrap.noDec {
    margin-bottom: 0;
	border-bottom: 0;
}
.aFTopsWrapEle:first-child {
    margin-top: 0;
}
.advFTopBs .button {
    margin-bottom: 5px;
}
.advFTopBs.aFTopsWrapEle {
	margin-bottom: 0;
    padding-bottom: 0;
}
/*canopy*/
.canopyDescEle {
    border-bottom: 1px solid black;
	padding: 4px;
	border-bottom: 1px solid black;
}
.canopyDescEle:last-of-type {
    border-bottom: none;
}
.canopyElesWrap {
    border: 1px solid black;
    padding: 4px;
    background: white;
	font-size: 14px;
}
.canopyOptionsTop {
	text-align: center;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid white;
}
.canopyOptions {
	border: 1px solid black;
	padding: 4px;
	background: #5E8706;
	font-size: 14px;
	color:white;
}
.canopyDescButtons {
	padding: 4px;
}
.canopyDescEle ul {
	padding-left: 22px;
}
.canopyDescLabel {
    width: 40px;
    float: left;
}
.canopyDescLegendEleItem {
    float: left;
    width: 23px;
}
.canopyTable {
    width: 100%;
}
.canopyDescLegendEleLabel {
    margin-left: 30px;
}
.canopyDescLegend {
    /* margin-left: 45px; */
}
.canopyLegendItem {
    width: 14px;
    height: 14px;
    border: 1px solid black;
    margin: 0 auto;
}
.canopyLegendEle {
    margin-bottom: 5px;
}
.canopyDescLabelText {
    -ms-transform: rotate(-90deg); /* IE 9 */      
    -webkit-transform: rotate(-90deg); /* Safari */      
    transform: rotate(-90deg);
    /* margin-right: 29px; */
    position: relative;
    top: 28px;
    font-weight: 700;
}
.canopyTabContent>* {
	margin-bottom: 6px;
	border-radius: 5px
}
.canopyTabContent>*:last-child {
	margin-bottom: 0;
}
.canopySelectLayer {
    width: 100%;
    height: 28px;
	cursor: pointer;
	border: 1px solid black;
}
.canopyTools .rangeHTMLWrap {
    background-color: transparent;
}
.fieldPkg {
    background: white;
    margin-bottom: 5px;
    border-radius: 10px;
    /* overflow: hidden; */
    padding: 2px;
    background: gainsboro;
	font-size: 13px;
	border: 1px solid black;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.wizardWindow{
	max-width:55%;
	/*width:50%!important;
	height:60%!important;*/
}
.wizardButtonNext {
    float: right;
}

.wizardButtonNext:disabled {
	opacity:.2;
	}
.wizardButtonPrev{
    float: left;
}
.wizardRange{
	background-color:transparent!Important;
}
.wizardRange .rangeWrapEle{
	background-color:transparent!Important;
}
.wizardRange .rangeWrapWrap{
	background-color:transparent!Important;
}
.wizardValSelect {
    text-align: center;
}
.wizardOptions {
    text-align: center;
}
.wizardfieldPkg.plan {float:left;}
.wizardfieldPkg {

    margin: 0 auto;
    border-radius: 10px;
    /* overflow: hidden; */
    padding: 2px;
    background: gainsboro;
	font-size: 13px;
	border: 1px solid black;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	width:300px;
	/*float:left;*/
}
.rangePkgGroupWrap {
	padding: 5px;
	background-color: #5E8706;
	border-radius: 5px;
	border: 1px solid black;
}
.rangePkgGroupSelectLabel {
	color: white;
	margin-bottom: 2px;
	float: left;
}
.rangePkgGroupSelectWrap {
	margin-bottom: 5px;
}
.rangePkgGroupTop .moreInfoWrap {
	float: right;
}
.fieldPkgOfGroup {
	display: none;
}
.fieldPkgLabel {
	font-weight: 700;
}
.fieldPkgLeft {
    float: left;
    width: 22px;
}
.canopyActivate {
	position: relative;
	top: 16px;
}
.fieldPkgRight {
    margin-left: 26px;
}
.noFieldPkgLeft {
	margin-left: 0;
}
.fieldPkg .rangeValue, .fieldPkg .rangeWrapWrap {
    background-color: transparent;
}
.increaseCanopy.fieldPkg{
	display:none;
}
.growSettingsSelect {
    width: 154px;
}
.savedScenIDInput {
    width: 100px!important;
}
.reportScenTableTitle {
    width: 100px!important;
}
.canopyReportsTableWrap {
    overflow: auto;
    max-height: 500px;
}
.reportScenTableTitleWrap>* {
    float: left;
    margin-right: 7px;
}
.reportScenTableTitleWrap>*:last-child {
    margin-right: 0;
}
.reportScenTable, .canopyReportsTable {
    border-collapse: collapse;
}
.reportScenTableDetailsWrap {
    margin-bottom: 5px;
}
.reportScenTableTitleLabel {
    padding-top: 2px;
}
.growChartChart{
	height:10%;
}
.growChartNumTree{
	 box-shadow: 0 0 5px;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    margin: 5px;
    position: relative;
    border-radius: 3px;
	
}
.growChartNumCurrent {
    float: left;
	 box-shadow: 0 0 5px;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    margin: 5px;
    position: relative;
    border-radius: 3px;
}
.growChartNumModel {
    float: right;
	 box-shadow: 0 0 5px;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    margin: 5px;
    position: relative;
    border-radius: 3px;
}
.growChartWrap {
    text-align: center;
    box-shadow: 0 0 5px;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    margin: 5px;
    position: relative;
    border-radius: 3px;
	/*max-height:200px;*/
}
.EcoBensWrap {
    box-shadow: 0 0 5px;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    margin: 5px;
    position: relative;
    border-radius: 3px;
}
.growEcoSubGroupWrap {
    width: 150px;
    box-shadow: 0 0 5px;
    display: inline-block;
    height: 96px;
    vertical-align: top;
    padding: 5px;
    margin: 5px;
    position: relative;
    border-radius: 3px;
}
.canopyReportsTable {
    background-color:white;
}
.detailedGrowReportWrap .tdLiner {
    text-align: center;
}
.detailedGrowReportButtons {
	margin-top: 7px;
}
.canopyGrowAccordian .rangeHTMLWrap {
	background-color: transparent;
}
.canopyGrowAccordian .switchWrap {
	width: 102px;
}
.canopyGrowAccordian.accordian {
	padding:0;
}
.reportScenTableWrap {
    max-height: 266px;
    overflow-y: auto;
    margin-bottom: 5px;
}
.paintGrowLabel {
    font-weight: 700;
    text-align: center;
}
.reportScenWrap {
    margin-bottom: 5px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.growDetailsLabel {
    text-align: center;
    padding: 5px 0;
    font-weight: 900;
}
.scenarioDetailsWrap {
    box-shadow: 0 0 5px black;
    padding: 5px;
	margin-bottom:5px;
}
.scenarioDetailsWrap:last-child {
	margin-bottom:0;
}
/*Account*/
.form-loginSystem .moreInfoWrap {
    margin-bottom: 5px;
}
/*Mass Update*/
.massUpdateWrap{
    width: 650px;
	padding: 5px;
}
.massUpdateTopEle {
    display: inline-block;
    margin-right: 7px;
}
.massUpdateTopEle:last-child {
    margin-right: 0;
}
select.massUpdateFieldSelect {
    max-width: 178px;
}
.massUpdateFieldSelectLabel {
    padding-top: 2px;
	font-weight: 700;
}
.massUpdateTop {
    text-align: center;
}
.massUpdateTopTop {
    text-align: center;
    font-weight: 900;
}
.massUpdateEle {
    box-shadow: 0 0 5px black;
    margin-bottom: 5px;
    padding: 5px;
}
.massUpdateEle:last-child {
    margin-bottom: 0;
}
.massUpdateMiddleEle {
    float: left;
    padding: 5px;
    box-sizing: border-box;
    border-right: 1px solid black;
    min-height: 237px;
	height: 186px;
    overflow: auto;
}
.massUpdateMiddleLeft {
    width: calc(100% - 174px);
}
.massUpdateMiddleRight {
    width: 174px;
}
.massUpdateMiddleEle:last-child {
    border-right: 0;
}
.massUpdatenNwValButtons {
    text-align: right;
}
.massUpdateNewValWrap .formInput {
    max-width: 100%;
}
.massUpdateNewValWrap {
    max-height: 169px;
    overflow: auto;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    border-top: 1px solid black;
}
.massUpdateNewValLabel {
    font-weight: 700;
}
.massUpdateMiddleRightEle {
    margin-bottom:5px;
}
.massUpdateMiddleRightEle:last-child {
    margin-bottom:0;
}
.massUpdateItemsTable {
    border-collapse: collapse;
    margin: 0 auto;
    background: #DFEEBF;
}
.massUpdaterItemRow:nth-child(odd) {
    background-color: #F3F7EA;
}
/*WOM*/
.womPanel.editFormPanel .tabsContsWrap,.womInvPanel.editFormPanel .tabsContsWrap{
	width: 660px;
}
.womUnitWrapEle {
    float: left;
    padding: 5px;
    box-sizing: border-box;
    border-right: 1px solid black;
	min-height: 283px;
}
.tableContentTableWrap {
    height: 238px;
    overflow: auto;
}
.womTableWrap {
	padding-top: 5px;
    border-top: 1px solid black;
}
.womUnitWrapEle:last-child {
    border-right: 0;
}
.womInvTableWrap {
    width: calc(100% - 174px);
}
.womInvTableWrap.efWOMNoAddTableWrap {
    width:100%;
}
.womAddFromMapButtonsWrap,.womAddButtonsWrap,.womAddNewButtonsWrap {
    text-align:right;
	margin-top: 2px;
}
.womAddFromMapButtonsWrap .button,.womAddButtonsWrap .button {
    margin-right:0;
	margin-left:5px;
}
.womAddFromMapButtonsWrap .button:last-child,.womAddButtonsWrap .button:last-child {
	margin-left:0;
}
.womUnitNoAssocInv {
    padding-top: 83px;
    text-align: center;
    font-style: italic;
}
.womInvSelectFromMapWrap {
    width: 174px;
}
.womSelectFromMapTable {
    margin: 0 auto;
}
.womInvUnitSelection {
    width: 78px;
    margin-left: 5px;
}
.womInvUnit.cf {
    padding: 5px;
    box-shadow: 0 0 5px black;
}
.invAssesLabel,.womAssesLabel,.invWOMLabel {
	text-align: center;
    font-weight: 900;
    padding: 5px 0;
    box-shadow: 0 0 5px black;
    margin-bottom: 5px;
    background-color: #DFEEBF;
}
.womAddFromIDInput {
	width: 141px!important;
}
.womUnitTableTR:nth-child(odd) {
    background-color: #F3F7EA;
}
.womInvTable .tdLiner, .womInvTable th, .massUpdateItemsTable  .tdLiner, .massUpdateItemsTable th, .efSignOffTable th, .efSignOffTable td {
    padding: 2px;
}
.womInvTable {
    border-collapse: collapse;
	margin: 0 auto;
    background: #DFEEBF;
	table-layout: fixed;
    max-width: 100%;
}
.womSelectFromMapTable>tbody>tr:last-child .womUnitAddWrap {
    margin-bottom: 0;
}
.womUnitAddWrap {
    margin-bottom: 5px;
	padding: 5px;
    box-shadow: 0 0 5px black;
}
.womAddingLabel {
	text-align: center;
    font-weight: 700;
    background-color: #E6E6E6;
    margin-bottom: 5px;
}
.tableSortTH {
	cursor:pointer;
}
.efPrintTopButtons {
    margin-bottom: 5px;
}
.efPrintBottomButtons {
	text-align:center;
	margin-top: 5px;
}
.efPrintMapOptionsWrap .efPrintOptionsTable {
    margin: 0 auto;
    table-layout: fixed;
    width: 100%;
	background-color: inherit;
}
.efPrintOptionsTable tr:nth-child(odd) {
    background-color: #F3F7EA;
}
.efPrintMapOptionsWrap .efPrintOptionsTable tr:nth-child(odd) {
    background-color: transparent;
}
.eFPrintBoundMapButton {
    margin: 5px 0;
}
.efPrintOptionsTable {
    margin: 0 auto;
    background: #DFEEBF;
	border-collapse: collapse;
}
.efPrintOptionsTable {
    margin: 0 auto;
}
.efPrintOptionsMapTBody th .tdLiner, .efPrintMapOptionsWrap .optionsLabel {
    background-color: #DFEEBF;
    box-shadow: 0 0 5px black;
}
.editFormPrintPanel .panelBodyWrap {
    width: 415px;
}
.invAssesContent>.invAssesButtons {
    margin-bottom: 0;
}
.invAssesContent>.invAssesButtons .button {
    margin-bottom: 5px;
}
.womInvUnitTableButtons .button,.oppWOMAssesButtons .button {
    margin-bottom: 5px;
}
.womUnitLocInv,.massUpdateZoomTo {
    cursor: pointer;
}
.invAssesContent>* {
    margin-bottom: 5px;
}
.invAssesContent>*:last-child {
    margin-bottom: 0;
}
.womInvLabel {
    text-align: center;
    border-bottom: 1px solid black;
	padding-bottom: 5px;
}
/*More Info*/
.mIContainer {
    display: none;
    position: absolute;
    max-width: 339px;
    background-color: #5196CF;
	color:white;
    right: 0;
    padding: 4px;
    z-index: 9999;
    box-shadow: 0 0 5px black;
    border-radius: 4px;
    bottom: 16px;
	border: 1px solid white;
}
.mIActivate {
	background-color: rgb(77, 77, 77);
	width: 16px;
	height: 16px;
	border-radius: 4px;
	text-align: center;
	cursor: pointer;
	color: white;
}
.moreInfoWrap {
	position: relative;
}
.mITitle {
	font-weight: 900;
	font-weight: 900;
	padding-bottom: 5px;
	border-bottom: 1px solid white;
	margin-bottom: 5px;
}
.mIContainer.moreInfoActive {
	position: fixed;
	top: 20px;
	left: 5px;
	right: auto;
	bottom: auto;
	display: block;
}
#moreInfosContainer {
	z-index: 99999;
}
/*Canopy Legend*/
.panel.canopyLegend {
	background-color: rgba(255, 255, 255, 0.84);
	min-width: 0;
	width: 152px!important;
}
.canopyLegendTitle {
	text-align: center;
	font-weight: 900;
	font-size: 13px;
}
.canopyLegendGraphicWrapWrap {
	text-align: center;
}
.canopyLegendGraphicWrap {
	margin: 10px 0 5px;
	display: inline-block;
}
.canopyLegendScaleWrap {
	float: right;
	position: relative;
	width: 34px;
}
.canopyLegendMax {
	top: 0;
}
.canopyLegendMiddle {
	top: 48%;
}
.canopyLegendMin {
	bottom: 0;
}
.canopyScaleEle {
	position: absolute;
	right: 1px;
	font-size: 12px;
}
#canopyLegendGradient {
	float: right;
	border: 1px solid black;
}
/*Auto Increment*/
.autoIncrementTable {
    border-collapse: collapse;
    margin-top: 5px;
}
.autoIncrementTable .tdLiner {
    padding: 2px;
}
/*Mass Updater*/
.massUSlectedShowerListTREle {
    float: left;
}
.massUShowPropWrap {
    padding-top: 2px;
}
.massUAddByIDTAButton {
    margin-top: 5px;
}
.massUpdaterTable {
   border-collapse:collapse;
}
.massUpdaterTable td {
    padding: 5px;
}
.massUSelectedShowerList {
	max-height: 200px;
	overflow-y: auto;
	border: 1px solid black;
	margin: 3px 0;
}
.massUSelectedShowerWrap {
    padding: 5px;
    box-shadow: 0 0 5px black;
    margin: 10px 0;
}
.massUBottomButtons {
    text-align:center;
}
.massUListButtons>.button {
    margin-top: 5px;
    margin-right: 5px;
}
.massUListButtons>.button:last-child {
    margin-right: 5px;
}
/*Export*/
.exportTypeRadios {
	margin-bottom: 5px;
}
.exportButtonsWrap {
	text-align: center;
}
.exporterWrap .tdLiner {
    min-width: 106px;
}
.exporterWrap input[type="number"], .exporterWrap input[type="text"], .exporterWrap select {
    max-width: 190px;
}
.exporterExportButton {
    margin: 10px 0;
}
/*Reporting*/
.reportWindow {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid black;
    min-height: 100%;
    min-width: 90%;
    padding: 1px;
    z-index: 1000;
    background-color: Azure;
    display: none;
}
.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 20px;
    background-color: white;
}
table.report {
    padding: 5px;
}
table.report caption {
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
}
table.report th {
    font-weight: bold;
    font-size: 12px;
}
table.report tr.colNames td {background: #fff}
table.report tr:nth-child(even) {background: #DDF}
table.report tr:nth-child(odd) {background: #DFD}
table.report col:nth-child(even) {border: 1px solid black}
/*Welcome*/
.welcomeWindow {
	max-width: 788px;
}
#welcomeWindow {
	width: 30%;
	background: rgba(255, 255, 255);
	z-index: 99999;
	max-width: 800px;
	max-height: 600px;
	padding: 5px;
	border-radius: 10px;
	left: 30%;
	top: 77px;
	max-height: 80%;
}
.welcomButton{
	color: white;
	background-color:#80bd01;
	background-position:center center;
	height:50px;
	width:140px;
	cursor: pointer;
	margin-bottom: 5px;
	max-width: calc(100% - 10px);
}
.welcomButton:last-child {
	margin-bottom: 0;
}
.welcomeRibbon{
	background-color:#005970;
	padding:5px;
	color: white;
	border-radius: 10px;
}
.welcomeRibbon .subHeader {
	margin: 0;
}
.welcomeLogo{
	max-height: 100%;
    padding: 0px 2.5px;
    display: inline-block;
    max-width: calc(25% - 5px);
}
.welcomeMainImg {
	max-height: 118px;
	margin-right: 6px;
	max-width: 248px;
}
.welcomeTopRow {
    margin: 10px 0;
}
#countTitle {
    margin: 10px 0;
    text-align: center;
    /* margin-left: 6px; */
}
#countValue {
    margin-left: 6px;
    padding: 0 6px;
    background-color: #D1FF70;
}
.moreDetailColumn2 {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 25%;
	padding: 0 5px;
	font-size: 14px;
	text-align: center;
}
.welcomeTop{
	padding-bottom: 2px;
	cursor: default;
	position: absolute;
 	box-sizing: border-box;
	background: white;
	padding: 5px;
	top: 0;
	left: 0;
	right: 0;
	cursor: move;
	z-index: 99;
}
.attributes{
	margin-top:7px;
 	text-align: center;
	font-size:11px;
}
.welcomeWindow .panelTop {
	border-bottom: none;
}
.welcomeLogos{
	width:100%;
	max-height: 75px;
	margin-top: 10px;
	text-align: center;
}
.welcomeLinkBoxInner {
	display: table-cell;
	max-height: 100%;
	vertical-align: bottom;
}
.welcomeLinkLeft{
}
.welcomelink {
	display: block;
}
.welcomeLogosEle {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    height: 100%;
}
.welcomeLinkBox {
    width: 25%;
}
.welcomeLogosMiddle {
    width: 50%;
    text-align: center;
}
/* .welcomeLinkRight {
    text-align: right;
} */
.welcomeTopTopRow .imgWrap {
	width: 100%;
	height: 100%;
}
.moreDetail {
	text-align:center;
}
.moreDetailButtonColumn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.3333%;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    background-position: center center;
    bottom: 0px;
}
.welcomeSmallScreenNotice {
	display: none;
    font-size: 14px;
    box-shadow: 0 0 5px black;
    margin: 20px;
    padding: 10px;
}
.welcomeSmallScreenNotice p {
    margin: 0;
}
.welcomeSmallScreenNotice h4 {
    margin: 0 0 10px 0;
}
.welcomeLabel p {
	margin-top: 0;
	font-weight: 900;
}
.moreDetailColumn:last-of-type {
	border-right: none;
}
.moreDetail.bottom .moreDetailColumn2 {
	float: left;
	width: auto;
}
.moreDetail.bottom .moreDetailColumn2 img {
    height: 66px;
}
.nextPages {
	height: 99px;
}
.nextPages {
	height: 99px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 6px 0;
}
.welcomeEle {
	margin-bottom: 5px;
}
.welcomeEle:last-of-type {
    margin-bottom: 0;
}
.moreDetailColumn2.links a {
	display: block;
	text-align: right;
}
.moreDetailColumn2.links {
	float: right!important;
}
/* season */
.seasonDateContainer .seasonSelect {
	margin-bottom: 4px;
}
/* login */
.loginTable {
	margin: 0 auto;
}
.loginModal {
    top:    0;
    left:   0;
    right:  0;
    bottom: 0;
    position: fixed;
    background: rgba(255,255,255,.4);
    z-index: 1001;
    opacity: 1;
	-webkit-transition: opacity 800ms ease-in;
	-moz-transition: opacity 800ms ease-in;
	transition: opacity 800ms ease-in;
}
.loginWindow {
    position: absolute;
    top:    50%;
    left:  50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1002;
    border: 1px solid black;
    min-height: 150px;
    min-width: 250px;
    padding: 20px;
    background-color: Beige;
    display: none;
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.loginForm  {
    padding: 20px;
}
.loginForm  input, button{
    display: block;
    margin: 10px 0;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.userIcon {
    width: 44px;
    height: 44px;
	background-color: #fff!important;
	color: white;
	background-image:	url('../images/userIcon.png');
	background-position: center;
	background-repeat: no-repeat;
}
#userInfoWindow {
	position: relative;
	top: 45;
	left: 80;
	width: 120;
	height: 80;
	padding: 5px;
	border: solid 1px grey;
	font: bold .8em Arial, sans-serif;
	z-index: 1000;
	background-color: white;
	display: none;
	overflow-y: auto;
}
.userIcon:hover  #userInfoWindow{
    display: block;
}
#userInfoWindow:hover {
    display: block;
}
/*ecobens*/
.ecoSubGroupWrap {
	width: 114px;
	box-shadow: 0 0 5px;
	display: inline-block;
	height: 96px;
	vertical-align: top;
	padding: 5px;
	margin: 5px;
	position: relative;
	border-radius: 3px;
}
.EcoBens {
    text-align: center;
}
.EcoBens .containerImg {
	display: block;
	margin: 0 auto;
	margin-bottom: 6px;
}
.indEcobensPanel {
    min-width: 280px;
}
.ecoSubGroupWrapLabel {
    color: #005970;
}
.ecobensCatLI .containerImg {
    margin: 0 auto;
    display: block;
	margin-top: 5px;
}
.ecoSubGroupWrapContent {
    background-color: #005970;
    padding: 10px 0;
    color: white;
    position: absolute;
    width: calc(100% - 10px);
    bottom: 5px;
    box-sizing: border-box;
}
.ecobensUL li {
	list-style: none;
}
.ecobensCatLI:last-child {
    margin-bottom: 0;
}
.ecobensCatLI {
    box-shadow: 0 0 5px black;
    margin-bottom: 10px;
	padding: 5px;
}
.ecobensUL {
	margin: 0;
	padding: 0 5px;
	padding-bottom: 5px;
}
.ecoCatSubLI {
    margin-bottom: 5px;
}
.ecoCatSubLI:last-child {
    margin-bottom: 0;
}
.ecoCatLabel {
    background-color: #005970;
    color: white;
    padding: 5px;
    border-radius: 0 0 5px 5px;
}
.ecoCatSubUL {
    margin: 5px 8px;
    padding: 5px;
    box-shadow: 0 0 5px black;
}
.ecoCatSubLILabel {
    padding: 5px;
    border: 1px solid green;
    margin-bottom: 5px;
}
.ecoCatSubLIDetailsInner {
    background-color: green;
    width: 60px;
    padding: 5px;
    color: white;
    text-align: center;
}
@media (max-width : 1054px){
	.headerTitle {
		font-size: 14px;
	}
}
.tourBottomRowEle{
	float:left;
	width:95%;
}
.slideCounterRow{
	text-align:center;
}
.tourBottomRowEle:first-of-type{
	float:left;
	width:auto;
}
.tourBottomRowEle:last-of-type{
	float:right;
	width:auto;
}
#tourText{
	text-align:center;
}
/* @media (max-width : 768px){
	.toolBoxButton {
		font-size: 26px;
	}
	.stdButton  {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	input[type="checkbox"] {
		height: 30px;
		-webkit-appearance: none;
		width: 30px;
		background-color: white;
		border: 1px solid grey;
		border-radius: 8px;
		box-shadow: inset 0 0 5px black;
	}
	input[type="checkbox"]:checked {
		background-color: blue;
	}
	input[type="text"], input[type="password"], select {
		height: 36px;
		border-radius: 10px;
		font-size: 20px;
	}
	.popupButton {
		width: 28px;
		height: 28px;
		font-size: 22px;
	}
	.innerButton {
		height: 22px;
	}
	.panelButtonsEle {
		height: 28px;
		width: 28px;
		font-size: 26px;
	}
} */
/*Mobile Header*/
.mobileHeader {
	display:none;
	height: 100%;
    position: relative;
}
.nonMobileHeader {
    height: 100%;
}
.mobileMenu {
	display:none;
}
.mobileMenuWrap {
    bottom: 0;
    position: absolute;
    right: 0;
}
.mobileMenu {
    position: absolute;
    top: 4px;
    right: -6px;
    width: 300px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 5px black;
	z-index: -1;
}
.mobileMenuItem {
    background-color: #80bd01!important;
}
.button.headerButton.mobileMenuButton {
    float: right;
}
.headerSection.mobileHeaderInfo {
    width: calc(100% - 72px);
}
@media (max-width : 667px){
	.mobileHeader {
		display:block;
	}
	.nonMobileHeader {
		display:none;
	}
	.sidePanel {
		z-index: 999999999;
	}
	.advFilterPanel .panelBody {
		min-width: 282px;
		max-height: none!important;
	height: auto!important;
	margin-bottom: 7px;
	}
	input[type="text"], input[type="password"], input[type="number"], input[type="file"], select, textarea {
		max-width: 200px;
	}
	.iconButtonIWrap{
		padding-top:0!important;
	}
	.header {
		height: 56px!important;
	}
	.panel.mapTools.block {
		width: 36px!important;
		top: 76px!important;
		left: 6px!important;
	}
	.mapToolItem {
		height: 26px!important;
		font-size: 26px!important;
		font-weight: 900;
	}
	.mapToolImg {
		max-height: 16px!important;
		max-width: 16px!important;
		padding-top: 5px!important;
	}
	.welcomeSmallScreenNotice {
		display:block;
	}
	.sidePanelContent {
		height: calc(100% - 39px);
	}
	.shelf.uploadertool,.shelf.measureAndGraphics,.shelf.tour,.expand.topButton,.mobileMenuItem.dashboard,.moreDetailButtonColumn[data-button="Apply"],.moreDetailButtonColumn[data-button="Learn"] {
		display:none;
	}
}

#frmCustomChart label {
    /*display: block;*/
}

#frmCustomChart input {
    float:right;
    max-width:55%;
}
#frmCustomChart select {
    float:right;
    margin-left:5px;
    margin-bottom:1px;
    max-width:55%;
}
#frmCustomChart br {
    clear: both;
}
.disabledLabel {
    background-color: rgba(159, 159, 159, 0.8);
}

#frmCustomChart label {
    /*display: block;*/
}

#frmCustomChart input {
    float:right;
    max-width:55%;
}
#frmCustomChart select {
    float:right;
    margin-left:5px;
    margin-bottom:1px;
    max-width:55%;
}
#frmCustomChart br {
    clear: both;
}
.disabledLabel {
    background-color: rgba(159, 159, 159, 0.8);
}

#frmCustomChart label {
    /*display: block;*/
}

#frmCustomChart input {
    float:right;
    max-width:55%;
}
#frmCustomChart select {
    float:right;
    margin-left:5px;
    margin-bottom:1px;
    max-width:55%;
}
#frmCustomChart br {
    clear: both;
}
.disabledLabel {
    background-color: rgba(159, 159, 159, 0.8);
}
