.toolBoxButton {
	font-size: 26px;
}
.stdButton  {
	padding-top: 10px;
	padding-bottom: 10px;
}
input[type="checkbox"] {
	height: 24px;
	-webkit-appearance: none;
	width: 24px;
	/* background-color: white;
	border: 1px solid grey;
	border-radius: 8px;
	box-shadow: inset 0 0 5px black; */
	background-image:	url('../images/checkbox_2.png');
	background-position: center;
	background-repeat: no-repeat;
}
input[type="checkbox"]:checked {
	/* background-color: blue; */
	background-image:	url('../images/checkbox_checked_2.png');
}
input[type="text"], input[type="password"], input[type="number"], select, textarea, input[type="file"] {
	height: 36px;
	border-radius: 4px;
	font-size: 20px;
	max-width: 100%;
	width: 210px;
}
textarea{
	height:auto;
}
.popupButton {
	width: 28px;
	height: 28px;
	font-size: 22px;
}
.maximizePanel.panelButtonsEle {
	padding-top: 4px;
}
.paneltitle {
	font-size: 14px;
}
.mapToolImg {
	max-height: 30px;
	padding-top: 8px;
	max-width: 30px;
}
.mapToolItem {
	height: 48px;
}
.mapToolItem:first-child {
	border-radius: 8px 8px 0 0;
}
.panel.mapTools {
	border-radius: 12px;
	width: 52px!important;
}
.mapToolItem:last-child {
	border-radius: 0 0 8px 8px;
}
.mapToolItem {
	font-size: 40px;
}
.header {
	height: 84px;
}
.iconButton {
	height: 70px;
	width: 54px;
}
.iconButtonIWrap {
	padding-top: 11px;
}
.onlyIconButton .iconButtonIWrap {
	padding-top: 0;
}
.onlyIconButton  {
	width: 50px;
	height: 50px;
}
.filterLegendPanel {
	width: 250px!important;
}
.filterLegendPanel.minimized {
	width: 112px!important;
}
.flOptionsSelect {
	width: 100%;
}
.flGroupSymbol {
	padding-top: 7px;
}
.flGroupLabel {
	margin-left: 48px;
	padding-top: 6px;
}
.checkboxLabel {
	margin-left: 30px;
	padding-top: 6px;
}
.alignment {
	width: 150px;
	height: 150px;
}
.inventEditButton{
	margin-right: 10px;
}
.templateUnit {
	padding: 15px 3px;
}
.lookUpItem {
	padding: 15px 3px;
}
.flOptionsLabel {
	  width: 100%;
}
.otherFeatsTogWrap {
	height: 26px;
	width: 16px;
}
.otherFeatsTogWrap.togLeft {
	margin-right: 16px;
}
.otherFeatsTog {
	background-size: 100% 100%!important
}
.otherFeaturesDesc {
	margin-right: 10px;
}
.popupTopLabel {
	margin-top: 4px;
	width: calc(100% - 33px);
}
.otherFeaturesDesc {
	margin-top: 4px;
}
.otherFeaturesWrap {
	margin-right: 19px;
}
.dtSortSelector {
	height: auto!important;
	font-size: 16px!important;
}
.closeSidePanel.sPTopButton {
    height: 34px;
    width: 34px;
    font-size: 29px;
    padding-top: 9px;
}
/*Advanced Filter*/
.actCheckWrap {
    width: 42px;
}