
body {
    text-align: center;
    -webkit-print-color-adjust:exact;
}

h1,h2,h3 {
    text-align: center;
}

div {
    margin: 0 auto;
}
.chartGroupHeader{
    background-color: rgba(220,220,220,1);
    color: white;
    font-size: 2em;
}
#reportTable{
	margin: 0 auto;
    border-collapse: collapse;
}
#reportTable td {
    padding: 2px;
}
#reportCoverImage {
    margin-bottom: 2em;
}
.mapWrap {
    margin-top: 14px;
	max-width: 100%;
}
.mapWrapImg {
    max-width: 100%;
}
#reportTable .tdLiner {
    max-width: 322px;
}
@media print {
    .dbNoPrint {
        display:none;
        height: 0;
    }
    div.chartAliasHeading {
        margin-top: 1em;
        padding-top: 1em;
        border-top: none;
    }

    @page {
        margin: .5in;
    }
    div.jqplot-highlighter-tooltip {
        display: none;
        visibility: hidden;
    }
}

